tbcuat_compare/force-app/main/default/flows/Candidate_Branch_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_To_Branch</name>
        <label>Send Email To Branch</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>BranchEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@thebestconnection.co.uk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Green Flagged Candidate Already Assigned to Another Plan</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>{!BranchBodyRichText}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_Applicant_From_Same_Branch</name>
        <label>Is Applicant From Same Branch</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Same Branch</defaultConnectorLabel>
        <rules>
            <name>Not_From_Same_Branch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_Applicant_From_Same_Job_Branch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BranchEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_To_Branch</targetReference>
            </connector>
            <label>Not From Same Branch</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>BranchEmail</name>
        <dataType>String</dataType>
        <expression>{!$Record.TR1__Job__r.Plan_Code__r.Branch__r.Email__c}</expression>
    </formulas>
    <interviewLabel>Candidate Branch Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Candidate Branch Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Applicant_From_Same_Branch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TR1__Applicant__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TR1__Job__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>TR1__Application_V2__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>BranchBodyRichText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;You have Green Flagged &lt;strong&gt;{!$Record.TR1__Applicant__r.FirstName}  {!$Record.TR1__Applicant__r.LastName}&lt;/strong&gt; however they are already exist in Status &lt;strong&gt;{!$Record.TR1__Applicant__r.TR1__Candidate_Status__c} &lt;/strong&gt;assigned to &lt;strong&gt;{!$Record.TR1__Applicant__r.Branches__c}&lt;/strong&gt;. They are currently marked as &lt;strong&gt;{!$Record.TR1__Applicant__r.Registration_Suitability__c}&lt;/strong&gt;. Please contact the branch if you wish to share or transfer this candidate.&lt;/p&gt;</text>
    </textTemplates>
</Flow>
