tbcuat_compare/force-app/main/default/flows/FB_Send_Pre_Interview_Packs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Copy_1_of_Copy_3_of_Send_Email_to_candidate_0</name>
        <label>Send Email to candidate</label>
        <locationX>842</locationX>
        <locationY>2543</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@thebestconnection.co.uk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Action Required: Submit Your Application Pack</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XQH000003p27h2AA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>CandidateID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Copy_3_of_Send_Email_to_candidate_0</name>
        <label>Send Email to candidate</label>
        <locationX>578</locationX>
        <locationY>2543</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@thebestconnection.co.uk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Action Required: Submit Your Application Pack</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XQH000003ol6r2AA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>CandidateID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Copy_3_of_Send_Email_to_candidate_0</name>
        <label>Send Email to candidate</label>
        <locationX>314</locationX>
        <locationY>2543</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@thebestconnection.co.uk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Action Required: Submit Your Application Pack</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XQH000003ogSC2AY</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>CandidateID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_candidate_0</name>
        <label>Send Email to candidate</label>
        <locationX>50</locationX>
        <locationY>2543</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@thebestconnection.co.uk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Action Required: Submit Your Application Pack</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XQH000003ohMc2AI</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>CandidateID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_candidate_0_0</name>
        <label>Send Email to candidate</label>
        <locationX>1898</locationX>
        <locationY>539</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Created_from_Veritone</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@thebestconnection.co.uk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>You are already registered with us</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>AlreadyRegistered</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignRecordID</name>
        <label>AssignRecordID</label>
        <locationX>974</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>CandidateID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Registration_Suitability</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Duplicate_Candidate_Found</name>
        <label>Duplicate Candidate Found?</label>
        <locationX>1568</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Offboarded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TR1__Candidate_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Offboarded</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignRecordID</targetReference>
            </connector>
            <label>Offboarded</label>
        </rules>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TR1__Candidate_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>AssignRecordID</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
        <rules>
            <name>Registered</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TR1__Candidate_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Offboarded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TR1__Candidate_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_candidate_0_0</targetReference>
            </connector>
            <label>Registered Notification</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Compliance_Profile_found</name>
        <label>Existing Compliance Profile found?</label>
        <locationX>578</locationX>
        <locationY>1379</locationY>
        <defaultConnector>
            <targetReference>Job_Type_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Compliance_Profiles</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Compliance_Profile</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Document_Assignments_found</name>
        <label>Existing Document Assignments found?</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Update_Candidate_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Document_Assignments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Found_Assignments</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Job_Type_0</name>
        <label>Job Type</label>
        <locationX>578</locationX>
        <locationY>1679</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Industrial_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.What_kind_of_work_are_you_looking_for__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Industrial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Session_to_Candidate_0</targetReference>
            </connector>
            <label>Industrial</label>
        </rules>
        <rules>
            <name>Care_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.What_kind_of_work_are_you_looking_for__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Care</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Session_to_Candidate_0</targetReference>
            </connector>
            <label>Care</label>
        </rules>
        <rules>
            <name>Drivers_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.What_kind_of_work_are_you_looking_for__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Driving</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Session_to_Candidate_0</targetReference>
            </connector>
            <label>Drivers</label>
        </rules>
        <rules>
            <name>Commercial_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.What_kind_of_work_are_you_looking_for__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Assign_Session_to_Candidate_0</targetReference>
            </connector>
            <label>Commercial</label>
        </rules>
    </decisions>
    <decisions>
        <name>Registration_Suitability</name>
        <label>Registration Suitability</label>
        <locationX>974</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Send_Email_to_candidate_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Suitable</defaultConnectorLabel>
        <rules>
            <name>Suitable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Registration_Suitability__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suitable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Document_Assignments</targetReference>
            </connector>
            <label>Suitable</label>
        </rules>
    </decisions>
    <description>Duplicate Check &amp; Send Pre-Interview Packs</description>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDate</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <formulas>
        <name>Portal_URL</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
   SUBSTITUTE(
       SUBSTITUTE(
         SUBSTITUTE(
           SUBSTITUTE(
               SUBSTITUTE(
                   SUBSTITUTE(
                        {!sessionKey}, 
                       &quot; &quot;, &quot;%20&quot;
                     ), 
                     &quot;&amp;&quot;, &quot;%26&quot;
                  ), 
                  &quot;?&quot;, &quot;%3F&quot;
            ), 
            &quot;=&quot;, &quot;%3D&quot;
         ), 
         &quot;#&quot;, &quot;%23&quot;
      ), 
      &quot;/&quot;, &quot;%2F&quot;
   ), 
   &quot;+&quot;, &quot;%2B&quot;
)</expression>
    </formulas>
    <interviewLabel>FB Send Pre-Interview Packs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FB Send Pre-Interview Packs</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Compliance_Profile_0</name>
        <label>Create Compliance Profile</label>
        <locationX>314</locationX>
        <locationY>2219</locationY>
        <connector>
            <targetReference>Update_compliance_rule_0</targetReference>
        </connector>
        <inputAssignments>
            <field>b3o__Compliance_Rule__c</field>
            <value>
                <elementReference>Copy_2_of_Get_Compliance_Rule_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Contact__c</field>
            <value>
                <elementReference>CandidateID</elementReference>
            </value>
        </inputAssignments>
        <object>b3o__Compliance_Profile__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Create_Compliance_Profile_0</name>
        <label>Create Compliance Profile</label>
        <locationX>842</locationX>
        <locationY>2219</locationY>
        <connector>
            <targetReference>Update_Compliance_Rule_4_0</targetReference>
        </connector>
        <inputAssignments>
            <field>b3o__Compliance_Rule__c</field>
            <value>
                <elementReference>Get_Compliance_Rule_COM.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Contact__c</field>
            <value>
                <elementReference>CandidateID</elementReference>
            </value>
        </inputAssignments>
        <object>b3o__Compliance_Profile__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_3_of_Create_Compliance_Profile_0</name>
        <label>Create Compliance Profile</label>
        <locationX>578</locationX>
        <locationY>2219</locationY>
        <connector>
            <targetReference>Update_Compliance_Rule_3_0</targetReference>
        </connector>
        <inputAssignments>
            <field>b3o__Compliance_Rule__c</field>
            <value>
                <elementReference>Copy_1_of_Get_Compliance_Rule_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Contact__c</field>
            <value>
                <elementReference>CandidateID</elementReference>
            </value>
        </inputAssignments>
        <object>b3o__Compliance_Profile__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Compliance_Profile_0</name>
        <label>Create Compliance Profile</label>
        <locationX>50</locationX>
        <locationY>2219</locationY>
        <connector>
            <targetReference>Copy_2_of_Update_compliance_rule_0</targetReference>
        </connector>
        <inputAssignments>
            <field>b3o__Compliance_Rule__c</field>
            <value>
                <elementReference>Get_Compliance_Rule_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Contact__c</field>
            <value>
                <elementReference>CandidateID</elementReference>
            </value>
        </inputAssignments>
        <object>b3o__Compliance_Profile__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Doc_Assignment_Care_0</name>
        <label>Create Doc Assignment Care</label>
        <locationX>314</locationX>
        <locationY>2003</locationY>
        <connector>
            <targetReference>Copy_2_of_Get_Compliance_Rule_0</targetReference>
        </connector>
        <inputAssignments>
            <field>b3o__Contact__c</field>
            <value>
                <elementReference>CandidateID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Document_Pack__c</field>
            <value>
                <elementReference>DocPackID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>b3o__Document_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Doc_Assignment_Commercial_0</name>
        <label>Create Doc Assignment Commercial</label>
        <locationX>842</locationX>
        <locationY>2003</locationY>
        <connector>
            <targetReference>Get_Compliance_Rule_COM</targetReference>
        </connector>
        <inputAssignments>
            <field>b3o__Contact__c</field>
            <value>
                <elementReference>CandidateID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Document_Pack__c</field>
            <value>
                <elementReference>DocPackID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>b3o__Document_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Doc_Assignment_Drivers_0</name>
        <label>Create Doc Assignment Drivers</label>
        <locationX>578</locationX>
        <locationY>2003</locationY>
        <connector>
            <targetReference>Copy_1_of_Get_Compliance_Rule_0</targetReference>
        </connector>
        <inputAssignments>
            <field>b3o__Contact__c</field>
            <value>
                <elementReference>CandidateID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Document_Pack__c</field>
            <value>
                <elementReference>DocPackID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>b3o__Document_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Doc_Assignment_IND_0</name>
        <label>Create Doc Assignment IND</label>
        <locationX>50</locationX>
        <locationY>2003</locationY>
        <connector>
            <targetReference>Get_Compliance_Rule_0</targetReference>
        </connector>
        <inputAssignments>
            <field>b3o__Contact__c</field>
            <value>
                <elementReference>CandidateID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Document_Pack__c</field>
            <value>
                <elementReference>DocPackID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>b3o__Document_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Compliance_Profile</name>
        <label>Delete Compliance Profile</label>
        <locationX>446</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>Job_Type_0</targetReference>
        </connector>
        <inputReference>Get_Existing_Compliance_Profiles</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Found_Assignments</name>
        <label>Delete Found Assignments</label>
        <locationX>446</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Update_Candidate_Status</targetReference>
        </connector>
        <inputReference>Get_Existing_Document_Assignments</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Copy_1_of_Get_Compliance_Rule_0</name>
        <label>Get Compliance Rule</label>
        <locationX>578</locationX>
        <locationY>2111</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_3_of_Create_Compliance_Profile_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Driver Compliance Rules</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>b3o__Compliance_Rule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_Get_Compliance_Rule_0</name>
        <label>Get Compliance Rule</label>
        <locationX>314</locationX>
        <locationY>2111</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Create_Compliance_Profile_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default Compliance Rules</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>b3o__Compliance_Rule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Compliance_Rule_0</name>
        <label>Get Compliance Rule</label>
        <locationX>50</locationX>
        <locationY>2111</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Compliance_Profile_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default Compliance Rules</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>b3o__Compliance_Rule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Compliance_Rule_COM</name>
        <label>Get Compliance Rule</label>
        <locationX>842</locationX>
        <locationY>2111</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Create_Compliance_Profile_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default Compliance Rules</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>b3o__Compliance_Rule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Doc_Pack_0</name>
        <label>Get Doc Pack</label>
        <locationX>50</locationX>
        <locationY>1895</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Doc_Assignment_IND_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Interview Pack Industrial</stringValue>
            </value>
        </filters>
        <object>b3o__Document_Pack__c</object>
        <outputAssignments>
            <assignToReference>DocPackID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Doc_Pack_care_0</name>
        <label>Get Doc Pack</label>
        <locationX>314</locationX>
        <locationY>1895</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Doc_Assignment_Care_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Interview Pack Care</stringValue>
            </value>
        </filters>
        <object>b3o__Document_Pack__c</object>
        <outputAssignments>
            <assignToReference>DocPackID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Doc_Pack_Commercial_0</name>
        <label>Get Doc Pack</label>
        <locationX>842</locationX>
        <locationY>1895</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Doc_Assignment_Commercial_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Interview Pack Commercial</stringValue>
            </value>
        </filters>
        <object>b3o__Document_Pack__c</object>
        <outputAssignments>
            <assignToReference>DocPackID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Doc_Pack_Drivers_0</name>
        <label>Get Doc Pack</label>
        <locationX>578</locationX>
        <locationY>1895</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Doc_Assignment_Drivers_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Interview Pack Drivers</stringValue>
            </value>
        </filters>
        <object>b3o__Document_Pack__c</object>
        <outputAssignments>
            <assignToReference>DocPackID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Compliance_Profiles</name>
        <label>Get Existing Compliance Profiles</label>
        <locationX>578</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Compliance_Profile_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>b3o__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CandidateID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>b3o__Compliance_Profile__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Document_Assignments</name>
        <label>Get Existing Document Assignments</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Document_Assignments_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>b3o__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>b3o__Document_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Record_Type</name>
        <label>get Record Type</label>
        <locationX>1568</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Duplicate_Candidate_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Candidate</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Initial_Documents_assigned_0</name>
        <label>Initial Documents assigned</label>
        <locationX>842</locationX>
        <locationY>2435</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_3_of_Send_Email_to_candidate_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Doc_Assignment_Date__c</field>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reminder_Email_Sent__c</field>
            <value>
                <stringValue>Initial Documents assigned</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_Initial_Documents_assigned_0</name>
        <label>Initial Documents assigned</label>
        <locationX>578</locationX>
        <locationY>2435</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_3_of_Send_Email_to_candidate_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Doc_Assignment_Date__c</field>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reminder_Email_Sent__c</field>
            <value>
                <stringValue>Initial Documents assigned</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Initial_Documents_assigned_0</name>
        <label>Initial Documents assigned</label>
        <locationX>314</locationX>
        <locationY>2435</locationY>
        <connector>
            <targetReference>Copy_3_of_Send_Email_to_candidate_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Doc_Assignment_Date__c</field>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reminder_Email_Sent__c</field>
            <value>
                <stringValue>Initial Documents assigned</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_compliance_rule_0</name>
        <label>Update compliance rule</label>
        <locationX>50</locationX>
        <locationY>2327</locationY>
        <connector>
            <targetReference>Initial_Documents_assigned_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Compliance_Rule__c</field>
            <value>
                <elementReference>Get_Compliance_Rule_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Initial_Documents_assigned_0</name>
        <label>Initial Documents assigned</label>
        <locationX>50</locationX>
        <locationY>2435</locationY>
        <connector>
            <targetReference>Send_Email_to_candidate_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Doc_Assignment_Date__c</field>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reminder_Email_Sent__c</field>
            <value>
                <stringValue>Initial Documents assigned</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Candidate_Status</name>
        <label>Update Candidate Status</label>
        <locationX>578</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Get_Existing_Compliance_Profiles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CandidateID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Branches__c</field>
            <value>
                <elementReference>$Record.Branches__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Created_From_Veritone__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Re_Reg_Process__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Candidate_Status__c</field>
            <value>
                <stringValue>Application</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_kind_of_work_are_you_looking_for__c</field>
            <value>
                <elementReference>$Record.What_kind_of_work_are_you_looking_for__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_compliance_rule_0</name>
        <label>Update compliance rule</label>
        <locationX>314</locationX>
        <locationY>2327</locationY>
        <connector>
            <targetReference>Copy_1_of_Initial_Documents_assigned_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Compliance_Rule__c</field>
            <value>
                <elementReference>Copy_2_of_Get_Compliance_Rule_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Compliance_Rule_3_0</name>
        <label>Update Compliance Rule</label>
        <locationX>578</locationX>
        <locationY>2327</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Initial_Documents_assigned_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Compliance_Rule__c</field>
            <value>
                <elementReference>Copy_1_of_Get_Compliance_Rule_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Compliance_Rule_4_0</name>
        <label>Update Compliance Rule</label>
        <locationX>842</locationX>
        <locationY>2327</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Initial_Documents_assigned_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Compliance_Rule__c</field>
            <value>
                <elementReference>Get_Compliance_Rule_COM.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Created_from_Veritone</name>
        <label>Update Created from Veritone</label>
        <locationX>1898</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Created_From_Veritone__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Created_via_form__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1442</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Record_Type</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Created_From_Veritone__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Assign_Session_to_Candidate_0</name>
        <label>Assign Session to Candidate</label>
        <locationX>578</locationX>
        <locationY>1787</locationY>
        <connector>
            <targetReference>Get_Doc_Pack_Drivers_0</targetReference>
        </connector>
        <flowName>X1218_3B_Assign_Session_to_Candidate</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Copy_1_of_Assign_Session_to_Candidate_0</name>
        <label>Copy 1 of Assign Session to Candidate</label>
        <locationX>50</locationX>
        <locationY>1787</locationY>
        <connector>
            <targetReference>Get_Doc_Pack_0</targetReference>
        </connector>
        <flowName>X1218_3B_Assign_Session_to_Candidate</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Copy_2_of_Assign_Session_to_Candidate_0</name>
        <label>Copy 2 of Assign Session to Candidate</label>
        <locationX>314</locationX>
        <locationY>1787</locationY>
        <connector>
            <targetReference>Get_Doc_Pack_care_0</targetReference>
        </connector>
        <flowName>X1218_3B_Assign_Session_to_Candidate</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Copy_3_of_Assign_Session_to_Candidate_0</name>
        <label>Copy 3 of Assign Session to Candidate</label>
        <locationX>842</locationX>
        <locationY>1787</locationY>
        <connector>
            <targetReference>Get_Doc_Pack_Commercial_0</targetReference>
        </connector>
        <flowName>X1218_3B_Assign_Session_to_Candidate</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>AlreadyRegistered</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: Arial, Helvetica, sans-serif; color: rgb(206, 0, 88);&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;font-size: medium; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;&lt;img src=&quot;https://thebestconnectionsf.lightning.force.com/file-asset-public/TBC_Header2?oid=00DPt000006aPXV&quot; alt=&quot;TBC Header&quot;&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 16px;&quot;&gt;Dear &lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 16px; color: rgb(206, 0, 88);&quot;&gt;{!$Record.FirstName} {!$Record.LastName}&lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 16px;&quot;&gt;,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 16px;&quot;&gt;It seems you are already registered with us! &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 16px;&quot;&gt;Please contact your local branch for more information.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 16px;&quot;&gt;Thank you&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 16px;&quot;&gt;Kind Regard&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;﻿&lt;/span&gt;&lt;img src=&quot;https://thebestconnectionsf.lightning.force.com/file-asset-public/TBC_Footer3?oid=00DPt000006aPXV&quot; alt=&quot;TBC Footer&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CandidateID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CandidateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>DocPackID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sessionKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
