tbcuat_compare/force-app/main/default/flows/Infra_Set_PlanCode_as_Public_Group.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_PlanCode_for_IND_or_HGV</name>
        <label>Check PlanCode for IND or HGV</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contains_IND_or_HGV</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.Plan_Code__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>IND</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Plan_Code__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>HGV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Public_Group_by_PlanCode</targetReference>
            </connector>
            <label>Contains IND or HGV</label>
        </rules>
    </decisions>
    <decisions>
        <name>Group_Found_AND_PlanCode_contains_IND_or_HGV</name>
        <label>Group Found AND PlanCode contains IND or HGV</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Group_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Public_Group_by_PlanCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_User_to_Group</targetReference>
            </connector>
            <label>Group Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Infra - Set PlanCode as Public Group {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Infra - Set Users Plan Code as Public Group</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_User_to_Group</name>
        <label>Add User to Public Group</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>Get_Public_Group_by_PlanCode.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Public_Group_by_PlanCode</name>
        <label>Get Public Group by PlanCode</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Group_Found_AND_PlanCode_contains_IND_or_HGV</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Plan_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Regular</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_PlanCode_for_IND_or_HGV</targetReference>
        </connector>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
