tbcuat_compare/force-app/main/default/flows/X1218_Account_linked_to_credit_check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Finance_Notes</name>
        <label>Assign Finance Notes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>clientRecord.Finance_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetLinkedCreditCheck.Branch_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updated_assigned_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Recevied_Fields</name>
        <label>Assign Recevied Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>clientRecord.Pays_In_Advance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetLinkedCreditCheck.Payment_Declaration_Received__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Finance_Notes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Required_Fields</name>
        <label>Assign Required Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>clientRecord.Payment_Declaration_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetLinkedCreditCheck.Payment_Declaration_Required__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clientRecord.Payment_Declaration_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetLinkedCreditCheck.Payment_Declaration_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Finance_Notes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>createClientObject</name>
        <label>createClientObject</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>clientRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Credit_Check_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Client_Status_Blacklisted</name>
        <label>Set Client Status Blacklisted</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>clientRecord.TR1__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Blacklisted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Payment_Declaration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Client_Status_Expired</name>
        <label>Set Client Status Expired</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>clientRecord.TR1__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Payment_Declaration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Client_Status_On_Stop</name>
        <label>Set Client Status On Stop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>clientRecord.TR1__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>On Stop</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Payment_Declaration</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Credit_Check_Status</name>
        <label>Credit Check Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Has_Payment_Declaration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blacklisted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLinkedCreditCheck.Blacklist__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Client_Status_Blacklisted</targetReference>
            </connector>
            <label>Blacklisted</label>
        </rules>
        <rules>
            <name>On_Stop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLinkedCreditCheck.On_Stop__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Client_Status_On_Stop</targetReference>
            </connector>
            <label>On Stop</label>
        </rules>
        <rules>
            <name>Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLinkedCreditCheck.Expired__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Client_Status_Expired</targetReference>
            </connector>
            <label>Expired</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Payment_Declaration</name>
        <label>Has Payment Declaration?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Finance_Notes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLinkedCreditCheck.Payment_Declaration_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Required_Fields</targetReference>
            </connector>
            <label>Yes Required</label>
        </rules>
        <rules>
            <name>Yes_Received</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLinkedCreditCheck.Payment_Declaration_Received__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Recevied_Fields</targetReference>
            </connector>
            <label>Yes Received</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>1218 - Account linked to credit check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218 - Account linked to credit check</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetLinkedCreditCheck</name>
        <label>GetLinkedCreditCheck</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createClientObject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Credit_Check__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Credit_Check__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>This updates the account record with all of the fields assigned based on the different paths taken.</description>
        <name>updated_assigned_fields</name>
        <label>updated assigned fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>clientRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetLinkedCreditCheck</targetReference>
        </connector>
        <filterFormula>AND(NOT(ISBLANK({!$Record.Credit_Check__c})), OR(ISNEW(), ISCHANGED({!$Record.Credit_Check__c})))</filterFormula>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>clientRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ClientStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.TR1__Status__c</elementReference>
        </value>
    </variables>
</Flow>
