tbcuat_compare/force-app/main/default/flows/X1218_Validate_Candidate_Status_PreInterview.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>You cannot manually move this Candidate to ‘Pre-Interview Review’. The status will update automatically once the Pre-Interview document pack is fully completed and submitted</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Has_Pre_Interview_Document</name>
        <label>Has Pre-Interview Document?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Document_Assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>1218-Validate Candidate Status PreInterview {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218-Validate Candidate Status PreInterview</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Document_Assignment</name>
        <label>Get Document Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Pre_Interview_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>b3o__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Document_Pack_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Pre-Interview</stringValue>
            </value>
        </filters>
        <filters>
            <field>b3o__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Complete__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>b3o__Document_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Document_Assignment</targetReference>
        </connector>
        <filterFormula>AND(
  ISCHANGED({!$Record.TR1__Candidate_Status__c}),
  TEXT({!$Record.TR1__Candidate_Status__c}) = &quot;Pre-Interview Review&quot;
)</filterFormula>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
