tbcuat_compare/force-app/main/default/flows/X1218ContractRateLineAfterInsertAutomation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>RateLineNotNullDecision</name>
        <label>Rate Line Not Null Decision</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RateLineNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RateLine__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRateModifiers</targetReference>
            </connector>
            <label>Rate Line Not Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>1218 Contract Rate Card Page After Insert Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218 Contract Rate Line After Insert Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateContractRateModifiers</name>
        <label>Create Contract Rate Modifiers</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputReference>ContractRateModifiersList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetRateModifiers</name>
        <label>Get Rate Modifiers</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContractRateModifiersList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Rate_Line__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RateLine__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__Rate_Modifier__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RateLineNotNullDecision</targetReference>
        </connector>
        <object>ContractRateLine__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <transforms>
        <name>ContractRateModifiersList</name>
        <label>Contract Rate Modifiers List</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>CreateContractRateModifiers</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>ContractRateModifier__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>RateModifier__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GetRateModifiers[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ContractRateLine__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
</Flow>
