tbcuat_compare/force-app/main/default/flows/X1218_Certificate_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Copy_1_of_Send_Email_to_the_candidate</name>
        <label>Copy 1 of Send Email to the candidate</label>
        <locationX>1898</locationX>
        <locationY>1322</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@thebestconnection.co.uk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XPt000003gk4jMAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Get_Certification_Record.b3o__Contact__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_the_candidate</name>
        <label>Send Email to the candidate</label>
        <locationX>2162</locationX>
        <locationY>1322</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@thebestconnection.co.uk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XQH00000563oL2AQ</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Get_Certification_Record.b3o__Contact__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Document_Link</name>
        <label>Assign Document Link</label>
        <locationX>842</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>Get_Document.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Ticket</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Document.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Create_Document_Link</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Document_Expired</name>
        <choiceText>Document Expired</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Document Expired</stringValue>
        </value>
    </choices>
    <choices>
        <name>Document_Unclear</name>
        <choiceText>Document Unclear</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Document Unclear</stringValue>
        </value>
    </choices>
    <choices>
        <name>Invalid</name>
        <choiceText>Invalid</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Invalid</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unacceptable</name>
        <choiceText>Unacceptable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unacceptable</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Action_Clicked</name>
        <label>Action Clicked?</label>
        <locationX>1667</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Rejection_Reason</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Reject</defaultConnectorLabel>
        <rules>
            <name>Verify</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Navigation.fire</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type_of_Document</targetReference>
            </connector>
            <label>Verify</label>
        </rules>
    </decisions>
    <decisions>
        <name>Candidate_Status</name>
        <label>Candidate Status</label>
        <locationX>2030</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Get_Email_Template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Registered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Certification_Record.b3o__Contact__r.TR1__Candidate_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Get_Email_Template</targetReference>
            </connector>
            <label>Registered</label>
        </rules>
    </decisions>
    <decisions>
        <name>Certificate_Attached</name>
        <label>Certificate Attached?</label>
        <locationX>2046</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>noAttachment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Content_Document</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Action_Clicked</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Certification_Status</name>
        <label>Certification Status</label>
        <locationX>1048</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Verify_Or_Reject</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pending Approval</defaultConnectorLabel>
        <rules>
            <name>Already_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Certification_Record.Certificate_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verified</targetReference>
            </connector>
            <label>Already Approved</label>
        </rules>
        <rules>
            <name>Already_RevokAlreadyRevokeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Certification_Record.Certificate_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Revoke_Screen</targetReference>
            </connector>
            <label>Already Revoked</label>
        </rules>
        <rules>
            <name>Incomplete_Lapse_Expired</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Certification_Record.Certificate_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incomplete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Certification_Record.Certificate_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lapsed / Expired</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Certification_Status1</targetReference>
            </connector>
            <label>Incomplete/Lapse/Expired</label>
        </rules>
    </decisions>
    <decisions>
        <name>Competency_Record_Found</name>
        <label>Competency Record Found?</label>
        <locationX>1304</locationX>
        <locationY>1190</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Competency_Record_Found1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Competency_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Ticket</targetReference>
            </connector>
            <label>Competency Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Document_Exist</name>
        <label>Document Exist?</label>
        <locationX>974</locationX>
        <locationY>1838</locationY>
        <defaultConnector>
            <targetReference>Competency_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DocumentExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Document.ContentDocumentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Document_Link</targetReference>
            </connector>
            <label>Document Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Document</name>
        <label>Type of Document</label>
        <locationX>1304</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Get_Competency_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Driving_Licence</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Certification_Record.Certificate_Types__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Drivers Licence</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Certification_Record.b3o__Certificate_Type__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Drivers</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Licence_Competencies</targetReference>
            </connector>
            <label>Driving Licence</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>RejectionReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Rejection_Comments__c</picklistField>
        <picklistObject>b3o__Certificate__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDate</name>
        <dataType>Date</dataType>
        <expression>Now()</expression>
    </formulas>
    <formulas>
        <name>VerificationButton</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!Get_Certification_Record.Verified_By__c}))</expression>
    </formulas>
    <interviewLabel>1218 Certificate Approva {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218-Certificate Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Document_Link</name>
        <label>Create Document Link</label>
        <locationX>842</locationX>
        <locationY>2054</locationY>
        <inputReference>Get_Document</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Ticket</name>
        <label>Create Ticket</label>
        <locationX>974</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Approve_submission</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Missing_Validity</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>sirenum__Owner__c</field>
            <value>
                <elementReference>Get_Certification_Record.b3o__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Revoked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Status__c</field>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__TicketType__c</field>
            <value>
                <elementReference>Get_Competency_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Valid_from__c</field>
            <value>
                <elementReference>Get_Certification_Record.b3o__Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Valid_until__c</field>
            <value>
                <elementReference>Get_Certification_Record.b3o__End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Copy_2_of_Get_Email_Template</name>
        <label>Copy 2 of Get Email Template</label>
        <locationX>1898</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Send_Email_to_the_candidate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Certificate Rejected, Notify Candidate Email Template - TBC Worker App</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Certification_Record</name>
        <label>Get Certification Record</label>
        <locationX>1048</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Certification_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>b3o__Certificate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Competency_Record</name>
        <label>Get Competency Record</label>
        <locationX>1304</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Competency_Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Certification_Record.b3o__Certificate_Type__r.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__TicketType__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Content_Document</name>
        <label>Get Content Document</label>
        <locationX>2046</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Certificate_Attached</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Document</name>
        <label>Get Document</label>
        <locationX>974</locationX>
        <locationY>1730</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Document_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template</name>
        <label>Get Email Template</label>
        <locationX>2162</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_to_the_candidate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Certificate Rejected, Notify Candidate Email Template</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Approve_submission</name>
        <label>Approve submission</label>
        <locationX>974</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Verified_By_and_When</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>b3o__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Certification_Record.b3o__Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>b3o__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>Certificate_Type_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Certification_Record.b3o__Certificate_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Certificate_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Certification_Record.Main_Certificate_Type__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>b3o__Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>b3o__Document_Submission__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Rejected_By_and_When</name>
        <label>Rejected By and When</label>
        <locationX>2030</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Candidate_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Certificate_Status__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rejected_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rejected_Date__c</field>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rejection_Reason__c</field>
            <value>
                <elementReference>Reason_to_reject_this_record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Revoke_Certificate__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>b3o__Certificate__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Rejection_submission</name>
        <label>Rejection submission</label>
        <locationX>2030</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Rejected_By_and_When</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>b3o__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Certification_Record.b3o__Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Certificate_Type_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Certification_Record.b3o__Certificate_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Certificate_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Certification_Record.Main_Certificate_Type__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>b3o__Status__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <object>b3o__Document_Submission__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Revert_Revoke_Certificate</name>
        <label>Revert Revoke Certificate</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Update_WFM_Ticket</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Rejected_By__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Revoke_Certificate__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>b3o__Certificate__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Revert_Revoke_Certificate1</name>
        <label>Revert Revoke Certificate</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Update_WFM_Ticket1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Verified_By__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>b3o__Certificate__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_certification</name>
        <label>Update certification</label>
        <locationX>974</locationX>
        <locationY>1622</locationY>
        <connector>
            <targetReference>Get_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Certification_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>WFM_Ticket_Qualification__c</field>
            <value>
                <elementReference>Create_Ticket</elementReference>
            </value>
        </inputAssignments>
        <object>b3o__Certificate__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WFM_Ticket</name>
        <label>Update WFM Ticket</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Certification_Record.WFM_Ticket_Qualification__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SK_Status__c</field>
            <value>
                <stringValue>Revoked</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Revoked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>sirenum__Ticket__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WFM_Ticket1</name>
        <label>Update WFM Ticket</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Certification_Record.WFM_Ticket_Qualification__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SK_Status__c</field>
            <value>
                <stringValue>Revoked</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Revoked__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>sirenum__Ticket__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Verified_By_and_When</name>
        <label>Verified By and When</label>
        <locationX>974</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Update_certification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Certificate_Status__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verified_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verified_Date__c</field>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>b3o__Certificate__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Certification_Status1</name>
        <label>Certification Status</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CertificationStatus</name>
            <fieldText>&lt;p&gt;Certification Approval &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Competency_Not_Found</name>
        <label>Competency Not Found</label>
        <locationX>1106</locationX>
        <locationY>1946</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Competency_Not_Found2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Competency Record has not been found with the given Certificate Name. Ticket will not be created&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Missing_Validity</name>
        <label>Missing Validity</label>
        <locationX>1370</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message_validity</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please populate the Valid &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(231, 54, 87);&quot;&gt;Start Date&lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; and &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(238, 26, 72);&quot;&gt;End Date &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;in the &apos;Validity&apos; section and refresh your browser before you can verify the Certificate.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>noAttachment</name>
        <label>noAttachment</label>
        <locationX>2426</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;There is no attachment in this certificate. Please attach a document before approving/rejecting this certificate.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Rejection_Reason</name>
        <label>Rejection Reason</label>
        <locationX>2030</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Rejection_submission</targetReference>
        </connector>
        <fields>
            <name>Reason_to_reject_this_record</name>
            <choiceReferences>Document_Expired</choiceReferences>
            <choiceReferences>Invalid</choiceReferences>
            <choiceReferences>Unacceptable</choiceReferences>
            <choiceReferences>Document_Unclear</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason to reject this record:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Revoke_Screen</name>
        <label>Revoke Screen</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Revert_Revoke_Certificate1</targetReference>
        </connector>
        <fields>
            <name>Returned_Rejected2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: verdana; color: rgb(0, 0, 0);&quot;&gt;Last Update regarding the current &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: verdana; color: rgb(0, 0, 0);&quot;&gt;Information&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: verdana; font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Rejected by:&lt;/span&gt;&lt;strong style=&quot;font-family: verdana; font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!Get_Certification_Record.Rejected_By__r.FirstName} {!Get_Certification_Record.Rejected_By__r.LastName}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: verdana; font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;﻿On: &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: verdana; font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!Get_Certification_Record.Rejected_Date__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: verdana; font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;With the following Reason: &lt;/span&gt;&lt;strong style=&quot;font-family: verdana; font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!Get_Certification_Record.Rejection_Reason__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Verified</name>
        <label>Verified</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Revert_Revoke_Certificate</targetReference>
        </connector>
        <fields>
            <name>Approved</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: verdana;&quot;&gt;Last Update regarding the current &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-family: verdana;&quot;&gt;Information&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: verdana; font-size: 12px;&quot;&gt;Verified by:&lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-family: verdana; font-size: 12px;&quot;&gt;{!Get_Certification_Record.Verified_By__r.FirstName}  &lt;/strong&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-family: verdana; font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Certification_Record.Verified_By__r.LastName}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: verdana; font-size: 12px;&quot;&gt;﻿On: &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-family: verdana; font-size: 12px;&quot;&gt;{!Get_Certification_Record.Verified_Date__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Verify_Or_Reject</name>
        <label>Verify Or Reject</label>
        <locationX>2046</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Content_Document</targetReference>
        </connector>
        <fields>
            <name>certificateApproval</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Certificate Approval&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: verdana; background-color: rgb(255, 255, 255);&quot;&gt;Please use the buttons below to&lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-family: verdana; background-color: rgb(255, 255, 255);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: verdana; background-color: rgb(255, 255, 255);&quot;&gt;either Approve or Reject the document that the candidate has provided.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Navigation</name>
            <extensionName>c:navigationButtonFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Approve</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label2</name>
                <value>
                    <stringValue>Reject</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabledFlag</name>
                <value>
                    <elementReference>VerificationButton</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variantType</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>922</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Certification_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Add_Licence_Competencies</name>
        <label>Add Licence Competencies</label>
        <locationX>1172</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Get_Competency_Record</targetReference>
        </connector>
        <flowName>X1218_Licence_Competencies_Subflow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Certification_Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>EmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;img src=&quot;https://thebestconnectionsf.lightning.force.com/file-asset-public/TBC_Header2?oid=00DPt000006aPXV&quot; alt=&quot;TBC Header&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Dear&amp;nbsp;{!Get_Certification_Record.b3o__Contact__r.FirstName} &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Certification_Record.b3o__Contact__r.LastName}&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;We’re reaching out to inform you that your certificate &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;{!Get_Certification_Record.Certificate_Types__c}&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;, which is required for your ongoing work with The Best Connection, has been rejected because of this reason:&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;{!Get_Certification_Record.Rejection_Reason__c}&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;To remain compliant and continue with your role, please upload an updated and valid certificate to the MyTBC portal as soon as possible. You can be found here.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://thebestconnectionsf.my.salesforce-sites.com/onboarding/b3p__Portal#LandingPage&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: medium; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;Access My Portal&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;For any further questions or assistance, please don’t hesitate to contact your local branch. Branch details can be found here:&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://www.thebestconnection.co.uk/branches&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;www.thebestconnection.co.uk/branches&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Kind Regards&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://thebestconnectionsf.lightning.force.com/file-asset-public/TBC_Footer3?oid=00DPt000006aPXV&quot; alt=&quot;TBC Footer&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>IsVerify</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>RecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
