tbcuat_compare/force-app/main/default/flows/X1218_WFM_Contract_Creation_on_Account_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Client_Account</name>
        <label>Client Account?</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_WFM_Contact</targetReference>
            </connector>
            <label>Client</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Site</name>
        <label>New Site</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_New_Details</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewSiteID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_Site</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Address</targetReference>
            </connector>
            <label>Update Initial Details From Account</label>
        </rules>
    </decisions>
    <description>Update Plan</description>
    <environments>Default</environments>
    <formulas>
        <name>SiteName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Client_Code__c}+ &apos; &apos; + &apos;-&apos; + &apos; &apos; +{!$Record.Name}</expression>
    </formulas>
    <formulas>
        <name>WFMContractName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} + &quot; &quot; + &quot;WFM Contract&quot;</expression>
    </formulas>
    <interviewLabel>1218 - WFM Contract Creation on Account Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218 - WFM Contract Creation on Account Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Site</name>
        <label>Create Site</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>New_Site</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SiteName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Operating_Company__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_WFM_Contact</name>
        <label>Create WFM Contact</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Create_Site</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>WFMContractName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plan_Code__c</field>
            <value>
                <elementReference>$Record.Plan_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__AWR_Eligable__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Client__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Invoice_Frequency__c</field>
            <value>
                <stringValue>Standard (Payroll Period)</stringValue>
            </value>
        </inputAssignments>
        <object>sirenum__ProActiveContract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Address</name>
        <label>Update Address</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>sirenum__City__c</field>
            <value>
                <elementReference>$Record.ShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Country__c</field>
            <value>
                <elementReference>$Record.ShippingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__County__c</field>
            <value>
                <elementReference>$Record.ShippingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Phone1__c</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Postal_Code__c</field>
            <value>
                <elementReference>$Record.ShippingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Street_Address__c</field>
            <value>
                <elementReference>$Record.ShippingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.sirenum__Sites__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Client_Account</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NewSiteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Create_Site</elementReference>
        </value>
    </variables>
</Flow>
