tbcuat_compare/force-app/main/default/flows/X1218_ContactMarkLeaverScreenFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>MarkLeaverInformationToIntime</name>
        <label>Mark Leaver Information To Intime</label>
        <locationX>380</locationX>
        <locationY>1082</locationY>
        <actionName>IntimeLeaverController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>MarkLeaverInIntimeSuccessDecision</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contactIds</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IntimeLeaverController</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>SetContactFields</name>
        <label>Set Contact Fields</label>
        <locationX>50</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>recordId.SendLeaverInformationToIntime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateWorker</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetLeaverInformationOnContact</name>
        <label>Set Leaver Information On Contact</label>
        <locationX>611</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>recordId.LeavingDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeavingDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetLeavingDate</name>
        <label>Set Leaving Date</label>
        <locationX>479</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>var_LeavingDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetLatestEmployeeRequest.sirenum__Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MarkLeaverScreen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>LatestLeavingDateDecision</name>
        <label>Latest Leaving Date Decision</label>
        <locationX>611</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>MarkLeaverScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LatestLeavingDate</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>GetLatestEmployeeRequest</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_LeavingDate</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_LeavingDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>GetLatestEmployeeRequest.sirenum__Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetLeavingDate</targetReference>
            </connector>
            <label>Latest Leaving Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>MarkLeaverInIntimeSuccessDecision</name>
        <label>Mark Leaver In Intime Success Decision</label>
        <locationX>380</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>WorkerLeaverInformationGenericErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MarkLeaverInIntimeSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MarkLeaverInformationToIntime</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoErrorDecision</targetReference>
            </connector>
            <label>Mark Leaver In Intime Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>NoErrorDecision</name>
        <label>No Error Decision</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>WorkerLeaverInformationErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoError</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MarkLeaverInformationToIntime.ErrorMessage__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WorkerLeaverInformationSuccessScreen</targetReference>
            </connector>
            <label>No Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>SendLeaverInformationNowDecision</name>
        <label>Send Leaver Information Now Decision</label>
        <locationX>611</locationX>
        <locationY>974</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SendLeaverInformationNow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.SendLeaverInformationToIntime__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MarkLeaverInformationToIntime</targetReference>
            </connector>
            <label>Send Leaver Information Now</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fx_IntimeLeaverAdminPermission</name>
        <dataType>Boolean</dataType>
        <expression>{!$Permission.IntimeLeaverAdmin}</expression>
    </formulas>
    <formulas>
        <name>fx_NotIntimeLeaverAdminPermission</name>
        <dataType>Boolean</dataType>
        <expression>NOT({!$Permission.IntimeLeaverAdmin})</expression>
    </formulas>
    <interviewLabel>Contact - Mark Leaver - Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - Mark Leaver - Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetLatestEmployeeRequest</name>
        <label>Get Latest Employee Request</label>
        <locationX>611</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LatestLeavingDateDecision</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>sirenum__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Holiday</stringValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sick Leave</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__Employee_Request__c</object>
        <sortField>sirenum__Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetLatestShift</name>
        <label>Get Latest Shift</label>
        <locationX>611</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetLatestEmployeeRequest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Cancelled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__Published__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>sirenum__Shift__c</object>
        <outputAssignments>
            <assignToReference>var_LeavingDate</assignToReference>
            <field>sirenum__Shift_Date__c</field>
        </outputAssignments>
        <sortField>sirenum__Shift_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>UpdateContact</name>
        <label>Update Contact</label>
        <locationX>611</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>SendLeaverInformationNowDecision</targetReference>
        </connector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateWorker</name>
        <label>Update Worker</label>
        <locationX>50</locationX>
        <locationY>1622</locationY>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>MarkLeaverScreen</name>
        <label>Mark Leaver Screen</label>
        <locationX>611</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SetLeaverInformationOnContact</targetReference>
        </connector>
        <fields>
            <name>LeavingDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>var_LeavingDate</elementReference>
            </defaultValue>
            <fieldText>Leaving Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <elementReference>fx_NotIntimeLeaverAdminPermission</elementReference>
            </isReadOnly>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>recordId.SendLeaverInformationToIntime__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>fx_IntimeLeaverAdminPermission</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>WorkerLeaverInformationErrorScreen</name>
        <label>WorkerLeaverInformationErrorScreen</label>
        <locationX>314</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>WorkerLeaverInformationError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!MarkLeaverInformationToIntime.ErrorMessage__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>WorkerLeaverInformationGenericErrorScreen</name>
        <label>WorkerLeaverInformationGenericErrorScreen</label>
        <locationX>578</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>WorkerLeaverInformationGenericError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;An error occured during sync process&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>WorkerLeaverInformationSuccessScreen</name>
        <label>WorkerLeaverInformationSuccessScreen</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SetContactFields</targetReference>
        </connector>
        <fields>
            <name>WorkerLeaverInformationSuccess</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(16, 102, 1);&quot;&gt;Leaver informationan has been updated successfully in intime.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetLatestShift</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>var_LeavingDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
