tbcuat_compare/force-app/main/default/flows/X1218_3B_Count_Document_Submission.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Doc_1</name>
        <label>Doc + 1</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>DocCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequiredDocs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DocName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_required_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Submission_1</name>
        <label>Submission + 1</label>
        <locationX>440</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>SubmissionCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Unique_Storage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Unique_Storage</name>
        <label>Unique Storage</label>
        <locationX>352</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>DocumentIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_actual_submissions</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Submission_Status</name>
        <label>Submission Status</label>
        <locationX>528</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Loop_actual_submissions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>non_rejected_Proceed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_actual_submissions.b3o__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_actual_submissions.b3o__Document__r.Required_Document__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unique_Status</targetReference>
            </connector>
            <label>non-rejected - Proceed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unique_Status</name>
        <label>Unique Status</label>
        <locationX>352</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Submission_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ignore_Duplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DocumentIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_actual_submissions.b3o__Document__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unique_Storage</targetReference>
            </connector>
            <label>Ignore - Duplicate</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CompleteCalc</name>
        <dataType>Number</dataType>
        <expression>({!SubmissionCount}/{!DocCount})*100</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>DocName</name>
        <dataType>String</dataType>
        <expression>{!$Record.b3o__Document__r.Name}</expression>
    </formulas>
    <formulas>
        <name>DocumentId</name>
        <dataType>String</dataType>
        <expression>{!Loop_actual_submissions.b3o__Document__c}&amp;&quot;-&quot;</expression>
    </formulas>
    <interviewLabel>1218 3B Count Document Submission {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218 3B Count Document Submission</label>
    <loops>
        <name>Loop_actual_submissions</name>
        <label>Loop actual submissions</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <collectionReference>get_Submission</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Submission_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Completeness</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_required_Documents</name>
        <label>Loop required Documents</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Docs_from_Document_pack</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Doc_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_Submission</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Docs_from_Document_pack</name>
        <label>Get Docs from Document pack</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_required_Documents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>b3o__Document_Pack__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.b3o__Document_Pack__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Required_Document__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>b3o__Document__c</object>
        <sortField>b3o__Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Submission</name>
        <label>get Submission</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_actual_submissions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>b3o__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.b3o__Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>b3o__Document_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.b3o__Document_Assignment__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>b3o__Document_Submission__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_Completeness</name>
        <label>Add Completeness</label>
        <locationX>176</locationX>
        <locationY>1631</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.b3o__Document_Assignment__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Complete__c</field>
            <value>
                <elementReference>CompleteCalc</elementReference>
            </value>
        </inputAssignments>
        <object>b3o__Document_Assignment__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Docs_from_Document_pack</targetReference>
        </connector>
        <object>b3o__Document_Submission__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>DocCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>DocumentIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RequiredDocs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubmissionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
