tbcuat_compare/force-app/main/default/flows/X1218_3B_Send_Pre_Interview_Packs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Copy_1_of_Copy_3_of_Send_Email_to_candidate</name>
        <label>Send Email to candidate</label>
        <locationX>2426</locationX>
        <locationY>1835</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@thebestconnection.co.uk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Action Required: Submit Your Application Pack</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XQH000003p27h2AA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Copy_3_of_Send_Email_to_candidate</name>
        <label>Send Email to candidate</label>
        <locationX>1898</locationX>
        <locationY>1835</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@thebestconnection.co.uk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Action Required: Submit Your Application Pack</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XQH000003ol6r2AA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Copy_3_of_Send_Email_to_candidate</name>
        <label>Send Email to candidate</label>
        <locationX>1370</locationX>
        <locationY>1835</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@thebestconnection.co.uk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Action Required: Submit Your Application Pack</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XQH000003ogSC2AY</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_candidate</name>
        <label>Send Email to candidate</label>
        <locationX>842</locationX>
        <locationY>1835</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@thebestconnection.co.uk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Action Required: Submit Your Application Pack</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XQH000003ohMc2AI</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Copy_1_of_Doc_Pack_already_assigned</name>
        <label>Doc Pack already assigned?</label>
        <locationX>1766</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Create_Doc_Assignment_Drivers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Doc_Assignment_3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Doc_Pack_already_assigned</name>
        <label>Doc Pack already assigned?</label>
        <locationX>1238</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Create_Doc_Assignment_Care</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Doc_Assignment_2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_3_of_Doc_Pack_already_assigned</name>
        <label>Copy 3 of Doc Pack already assigned?</label>
        <locationX>2294</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Create_Doc_Assignment_Commercial</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Doc_Assignment_4</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Doc_Pack_already_assigned</name>
        <label>Doc Pack already assigned?</label>
        <locationX>710</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Create_Doc_Assignment_IND</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Doc_Assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Duplicate_Candidate_Found</name>
        <label>Duplicate Candidate Found?</label>
        <locationX>875</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Set_Flags_to_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Re_reg_Veritone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Updated_By_Veritone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Re_reg_Veritone</targetReference>
            </connector>
            <label>Is Re-reg Veritone</label>
        </rules>
        <rules>
            <name>Is_Re_reg_3B</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Candidate_Records.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Re_reg_3B</targetReference>
            </connector>
            <label>Is Re-reg 3B</label>
        </rules>
    </decisions>
    <decisions>
        <name>Job_Type</name>
        <label>Job Type</label>
        <locationX>1700</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Industrial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.What_kind_of_work_are_you_looking_for__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Industrial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Session_to_Candidate</targetReference>
            </connector>
            <label>Industrial</label>
        </rules>
        <rules>
            <name>Care</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.What_kind_of_work_are_you_looking_for__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Care</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Session_to_Candidate</targetReference>
            </connector>
            <label>Care</label>
        </rules>
        <rules>
            <name>Drivers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.What_kind_of_work_are_you_looking_for__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Driving</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Session_to_Candidate</targetReference>
            </connector>
            <label>Drivers</label>
        </rules>
        <rules>
            <name>Commercial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.What_kind_of_work_are_you_looking_for__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Assign_Session_to_Candidate</targetReference>
            </connector>
            <label>Commercial</label>
        </rules>
    </decisions>
    <description>Duplicate Check &amp; Send Pre-Interview Packs</description>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDate</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <formulas>
        <name>Portal_URL</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
   SUBSTITUTE(
       SUBSTITUTE(
         SUBSTITUTE(
           SUBSTITUTE(
               SUBSTITUTE(
                   SUBSTITUTE(
                        {!sessionKey}, 
                       &quot; &quot;, &quot;%20&quot;
                     ), 
                     &quot;&amp;&quot;, &quot;%26&quot;
                  ), 
                  &quot;?&quot;, &quot;%3F&quot;
            ), 
            &quot;=&quot;, &quot;%3D&quot;
         ), 
         &quot;#&quot;, &quot;%23&quot;
      ), 
      &quot;/&quot;, &quot;%2F&quot;
   ), 
   &quot;+&quot;, &quot;%2B&quot;
)</expression>
    </formulas>
    <interviewLabel>1218 - 3B Send Pre-Interview Packs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218 - 3B Send Pre-Interview Packs</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Compliance_Profile</name>
        <label>Create Compliance Profile</label>
        <locationX>1370</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>Update_compliance_rule</targetReference>
        </connector>
        <inputAssignments>
            <field>b3o__Compliance_Rule__c</field>
            <value>
                <elementReference>Copy_2_of_Get_Compliance_Rule.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>b3o__Compliance_Profile__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Create_Compliance_Profile</name>
        <label>Create Compliance Profile</label>
        <locationX>2426</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>Update_Compliance_Rule_4</targetReference>
        </connector>
        <inputAssignments>
            <field>b3o__Compliance_Rule__c</field>
            <value>
                <elementReference>Get_Compliance_Rule_4.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>b3o__Compliance_Profile__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_3_of_Create_Compliance_Profile</name>
        <label>Create Compliance Profile</label>
        <locationX>1898</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>Update_Compliance_Rule_3</targetReference>
        </connector>
        <inputAssignments>
            <field>b3o__Compliance_Rule__c</field>
            <value>
                <elementReference>Copy_1_of_Get_Compliance_Rule.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>b3o__Compliance_Profile__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Compliance_Profile</name>
        <label>Create Compliance Profile</label>
        <locationX>842</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>Copy_2_of_Update_compliance_rule</targetReference>
        </connector>
        <inputAssignments>
            <field>b3o__Compliance_Rule__c</field>
            <value>
                <elementReference>Get_Compliance_Rule.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>b3o__Compliance_Profile__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Doc_Assignment_Care</name>
        <label>Create Doc Assignment Care</label>
        <locationX>1370</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Copy_2_of_Get_Compliance_Rule</targetReference>
        </connector>
        <inputAssignments>
            <field>b3o__Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Document_Pack__c</field>
            <value>
                <elementReference>DocPackID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>b3o__Document_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Doc_Assignment_Commercial</name>
        <label>Create Doc Assignment Commercial</label>
        <locationX>2426</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Get_Compliance_Rule_4</targetReference>
        </connector>
        <inputAssignments>
            <field>b3o__Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Document_Pack__c</field>
            <value>
                <elementReference>DocPackID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>b3o__Document_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Doc_Assignment_Drivers</name>
        <label>Create Doc Assignment Drivers</label>
        <locationX>1898</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Copy_1_of_Get_Compliance_Rule</targetReference>
        </connector>
        <inputAssignments>
            <field>b3o__Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Document_Pack__c</field>
            <value>
                <elementReference>DocPackID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>b3o__Document_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Doc_Assignment_IND</name>
        <label>Create Doc Assignment IND</label>
        <locationX>842</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Get_Compliance_Rule</targetReference>
        </connector>
        <inputAssignments>
            <field>b3o__Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Document_Pack__c</field>
            <value>
                <elementReference>DocPackID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>b3o__Document_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_newly_created_candidate_record</name>
        <label>Delete newly created candidate record</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Copy_1_of_Get_Compliance_Rule</name>
        <label>Get Compliance Rule</label>
        <locationX>1898</locationX>
        <locationY>1403</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_3_of_Create_Compliance_Profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Driver Compliance Rules</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>b3o__Compliance_Rule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_Get_Compliance_Rule</name>
        <label>Get Compliance Rule</label>
        <locationX>1370</locationX>
        <locationY>1403</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Create_Compliance_Profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default Compliance Rules</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>b3o__Compliance_Rule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Compliance_Rule</name>
        <label>Get Compliance Rule</label>
        <locationX>842</locationX>
        <locationY>1403</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Compliance_Profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default Compliance Rules</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>b3o__Compliance_Rule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Compliance_Rule_4</name>
        <label>Get Compliance Rule</label>
        <locationX>2426</locationX>
        <locationY>1403</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Create_Compliance_Profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default Compliance Rules</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>b3o__Compliance_Rule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Doc_Assignment</name>
        <label>Get Doc Assignment</label>
        <locationX>710</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Doc_Pack_already_assigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>b3o__Document_Pack__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DocPackID</elementReference>
            </value>
        </filters>
        <filters>
            <field>b3o__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>b3o__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>b3o__Document_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Doc_Assignment_2</name>
        <label>Get Doc Assignment</label>
        <locationX>1238</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Doc_Pack_already_assigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>b3o__Document_Pack__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DocPackID</elementReference>
            </value>
        </filters>
        <filters>
            <field>b3o__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>b3o__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>b3o__Document_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Doc_Assignment_3</name>
        <label>Get Doc Assignment</label>
        <locationX>1766</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Doc_Pack_already_assigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>b3o__Document_Pack__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DocPackID</elementReference>
            </value>
        </filters>
        <filters>
            <field>b3o__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>b3o__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>b3o__Document_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Doc_Assignment_4</name>
        <label>Get Doc Assignment</label>
        <locationX>2294</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_3_of_Doc_Pack_already_assigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>b3o__Document_Pack__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DocPackID</elementReference>
            </value>
        </filters>
        <filters>
            <field>b3o__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>b3o__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>b3o__Document_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Doc_Pack</name>
        <label>Get Doc Pack</label>
        <locationX>710</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Doc_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Interview Pack Industrial</stringValue>
            </value>
        </filters>
        <object>b3o__Document_Pack__c</object>
        <outputAssignments>
            <assignToReference>DocPackID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Doc_Pack_care</name>
        <label>Get Doc Pack</label>
        <locationX>1238</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Doc_Assignment_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Interview Pack Care</stringValue>
            </value>
        </filters>
        <object>b3o__Document_Pack__c</object>
        <outputAssignments>
            <assignToReference>DocPackID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Doc_Pack_Commercial</name>
        <label>Get Doc Pack</label>
        <locationX>2294</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Doc_Assignment_4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Interview Pack Commercial</stringValue>
            </value>
        </filters>
        <object>b3o__Document_Pack__c</object>
        <outputAssignments>
            <assignToReference>DocPackID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Doc_Pack_Drivers</name>
        <label>Get Doc Pack</label>
        <locationX>1766</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Doc_Assignment_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Interview Pack Drivers</stringValue>
            </value>
        </filters>
        <object>b3o__Document_Pack__c</object>
        <outputAssignments>
            <assignToReference>DocPackID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Candidate_Records</name>
        <label>Get Existing Candidate Records</label>
        <locationX>875</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Duplicate_Candidate_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Record_Type</name>
        <label>get Record Type</label>
        <locationX>875</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Candidate_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Candidate</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Initial_Documents_assigned</name>
        <label>Initial Documents assigned</label>
        <locationX>2426</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_3_of_Send_Email_to_candidate</targetReference>
        </connector>
        <inputAssignments>
            <field>Doc_Assignment_Date__c</field>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reminder_Email_Sent__c</field>
            <value>
                <stringValue>Initial Documents assigned</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_Initial_Documents_assigned</name>
        <label>Initial Documents assigned</label>
        <locationX>1898</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_3_of_Send_Email_to_candidate</targetReference>
        </connector>
        <inputAssignments>
            <field>Doc_Assignment_Date__c</field>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reminder_Email_Sent__c</field>
            <value>
                <stringValue>Initial Documents assigned</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Initial_Documents_assigned</name>
        <label>Initial Documents assigned</label>
        <locationX>1370</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>Copy_3_of_Send_Email_to_candidate</targetReference>
        </connector>
        <inputAssignments>
            <field>Doc_Assignment_Date__c</field>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reminder_Email_Sent__c</field>
            <value>
                <stringValue>Initial Documents assigned</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_compliance_rule</name>
        <label>Update compliance rule</label>
        <locationX>842</locationX>
        <locationY>1619</locationY>
        <connector>
            <targetReference>Initial_Documents_assigned</targetReference>
        </connector>
        <inputAssignments>
            <field>Compliance_Rule__c</field>
            <value>
                <elementReference>Get_Compliance_Rule.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Initial_Documents_assigned</name>
        <label>Initial Documents assigned</label>
        <locationX>842</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>Send_Email_to_candidate</targetReference>
        </connector>
        <inputAssignments>
            <field>Doc_Assignment_Date__c</field>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reminder_Email_Sent__c</field>
            <value>
                <stringValue>Initial Documents assigned</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Flags_to_False</name>
        <label>Set Flags to False</label>
        <locationX>1700</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Job_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>Created_From_Veritone__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Created_via_form__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated_By_Veritone__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Candidate</name>
        <label>Update Candidate</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Created_From_Veritone__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Created_via_form__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated_By_Veritone__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_compliance_rule</name>
        <label>Update compliance rule</label>
        <locationX>1370</locationX>
        <locationY>1619</locationY>
        <connector>
            <targetReference>Copy_1_of_Initial_Documents_assigned</targetReference>
        </connector>
        <inputAssignments>
            <field>Compliance_Rule__c</field>
            <value>
                <elementReference>Copy_2_of_Get_Compliance_Rule.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Compliance_Rule_3</name>
        <label>Update Compliance Rule</label>
        <locationX>1898</locationX>
        <locationY>1619</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Initial_Documents_assigned</targetReference>
        </connector>
        <inputAssignments>
            <field>Compliance_Rule__c</field>
            <value>
                <elementReference>Copy_1_of_Get_Compliance_Rule.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Compliance_Rule_4</name>
        <label>Update Compliance Rule</label>
        <locationX>2426</locationX>
        <locationY>1619</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Initial_Documents_assigned</targetReference>
        </connector>
        <inputAssignments>
            <field>Compliance_Rule__c</field>
            <value>
                <elementReference>Get_Compliance_Rule_4.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>749</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Record_Type</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>(1 AND 5 AND 6) OR 3 OR (2 AND 4)</filterLogic>
        <filters>
            <field>Created_via_form__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Created_From_Veritone__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Updated_By_Veritone__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>What_kind_of_work_are_you_looking_for__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Do_you_currently_live_in_the_UK__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Do_you_have_the_right_to_work_in_the_UK__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Assign_Session_to_Candidate</name>
        <label>Assign Session to Candidate</label>
        <locationX>1766</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Get_Doc_Pack_Drivers</targetReference>
        </connector>
        <flowName>X1218_3B_Assign_Session_to_Candidate</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Call_Re_reg_3B</name>
        <label>Call Re-reg - 3B</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Delete_newly_created_candidate_record</targetReference>
        </connector>
        <flowName>X1218_Rereg_Process_Subflow</flowName>
        <inputAssignments>
            <name>existingContactId</name>
            <value>
                <elementReference>Get_Existing_Candidate_Records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>triggeringContactId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Call_Re_reg_Veritone</name>
        <label>Call Re-reg - Veritone</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Candidate</targetReference>
        </connector>
        <flowName>X1218_Rereg_Process_Subflow</flowName>
        <inputAssignments>
            <name>existingContactId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>triggeringContactId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Copy_1_of_Assign_Session_to_Candidate</name>
        <label>Copy 1 of Assign Session to Candidate</label>
        <locationX>710</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Get_Doc_Pack</targetReference>
        </connector>
        <flowName>X1218_3B_Assign_Session_to_Candidate</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Copy_2_of_Assign_Session_to_Candidate</name>
        <label>Copy 2 of Assign Session to Candidate</label>
        <locationX>1238</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Get_Doc_Pack_care</targetReference>
        </connector>
        <flowName>X1218_3B_Assign_Session_to_Candidate</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Copy_3_of_Assign_Session_to_Candidate</name>
        <label>Copy 3 of Assign Session to Candidate</label>
        <locationX>2294</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Get_Doc_Pack_Commercial</targetReference>
        </connector>
        <flowName>X1218_3B_Assign_Session_to_Candidate</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>AlreadyRegistered</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: Arial, Helvetica, sans-serif; color: rgb(206, 0, 88);&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: medium; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;&lt;img src=&quot;https://thebestconnectionsf.lightning.force.com/file-asset-public/TBC_Header2?oid=00DPt000006aPXV&quot; alt=&quot;TBC Header&quot;&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 16px;&quot;&gt;Dear &lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 16px; color: rgb(206, 0, 88);&quot;&gt;{!$Record.FirstName} {!$Record.LastName}&lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 16px;&quot;&gt;,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 16px;&quot;&gt;It seems you are already registered with us! &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 16px;&quot;&gt;Please contact your local branch for more information.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 16px;&quot;&gt;Thank you&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 16px;&quot;&gt;Kind Regard&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;&lt;/span&gt;&lt;img src=&quot;https://thebestconnectionsf.lightning.force.com/file-asset-public/TBC_Footer3?oid=00DPt000006aPXV&quot; alt=&quot;TBC Footer&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CandidateID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CandidateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>DocPackID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sessionKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarEmailTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
