tbcuat_compare/force-app/main/default/flows/X1218_Licence_Competencies_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Category_B</name>
        <label>Category B</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Category_B1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_B</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Certificate.Category_B_Licence__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Competency_Category_B</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Category_B_Found</name>
        <label>Category B Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Category_B1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_CatbB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Competency_Category_B</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Ticket</targetReference>
            </connector>
            <label>Yes_CatbB</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Category_B1</name>
        <label>Category B1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Category_B_Auto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Certificate.Category_B1_Licence__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Competency_Category_B1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Category_B_Auto</name>
        <label>Category B Auto Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Category_BE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Copy_1_of_Yes_CatbB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_2_of_Get_Competency_Category_B_Auto</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Create_Competency</targetReference>
            </connector>
            <label>Copy 1 of Copy 1 of Yes_CatbB</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Category_B_Found</name>
        <label>Category B1 Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Category_B_Auto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes_CatbB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_Competency_Category_B1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_Competency</targetReference>
            </connector>
            <label>Copy 1 of Yes_CatbB</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Category_BE</name>
        <label>Category BE Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Category_C</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_CatbBE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_2_of_Get_Competency_Category_BE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Create_Competency_0</targetReference>
            </connector>
            <label>Yes_CatbBE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Category_C</name>
        <label>Category C Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Category_C1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_CatbC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_2_of_Get_Competency_Category_C</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Create_Competency_0_0</targetReference>
            </connector>
            <label>Yes_CatbC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Category_C1</name>
        <label>Category C1 Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Category_C1E</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_CatbC1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_2_of_Get_Competency_Category_C1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Create_Competency_0_0_0</targetReference>
            </connector>
            <label>Yes_CatbC1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Category_C1E</name>
        <label>Category C1E Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Category_CE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_CatbC1E</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_2_of_Get_Competency_Category_C1E</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Create_Competency_0_0_0_0</targetReference>
            </connector>
            <label>Yes_CatbC1E</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Category_CE</name>
        <label>Category CE Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Category_D</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_CatbCE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_2_of_Get_Competency_Category_CE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Create_Competency_0_0_0_0_0</targetReference>
            </connector>
            <label>Yes_CatbCE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Category_D</name>
        <label>Category D Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Category_D1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_CatbD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_2_of_Get_Competency_Category_D</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Create_Competency_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Yes_CatbD</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Category_D1</name>
        <label>Category D1 Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Category_D1E</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_CatbD1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_2_of_Get_Competency_Category_D1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Create_Competency_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Yes_CatbD1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Category_D1E</name>
        <label>Category D1E Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Category_DE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_CatbD1E</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_2_of_Get_Competency_Category_D1E</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Create_Competency_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Yes_CatbD1E</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Category_DE</name>
        <label>Category DE Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_CatbDE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_2_of_Get_Competency_Category_DE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Create_Competency_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Yes_CatbDE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Category_B_Auto</name>
        <label>Category B Auto</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Category_BE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Certificate.Category_B_Auto_Licence__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Get_Competency_Category_B_Auto</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Category_BE</name>
        <label>Category BE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Category_C</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Certificate.Category_BE_Licence__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Get_Competency_Category_BE</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Category_C</name>
        <label>Category C</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Category_C1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Yes_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Certificate.Category_C_Licence__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Get_Competency_Category_C</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Category_C1</name>
        <label>Category C1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Category_C1E</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Yes_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Certificate.Category_C1_Licence__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Get_Competency_Category_C1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Category_C1E</name>
        <label>Category C1E</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Category_CE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Yes_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Certificate.Category_C1E_Licence__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Get_Competency_Category_C1E</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Category_CE</name>
        <label>Category CE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Category_D</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Yes_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Certificate.Category_CE_Licence__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Get_Competency_Category_CE</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Category_D</name>
        <label>Category D</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Category_D1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Yes_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Certificate.Category_D_Licence__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Get_Competency_Category_D</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Category_D1</name>
        <label>Category D1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Category_D1E</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Yes_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Certificate.Category_D1_Licence__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Get_Competency_Category_D1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Category_D1E</name>
        <label>Category D1E</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Category_DE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Yes_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Certificate.Category_D1E_Licence__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Get_Competency_Category_D1E</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Category_DE</name>
        <label>Category DE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Yes_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Certificate.Category_DE_Licence__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Get_Competency_Category_DE</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Part of the Certificate Approval Flow</description>
    <environments>Default</environments>
    <interviewLabel>1218 Licence Competencies Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218 Licence Competencies Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Competency</name>
        <label>Create Competency</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_2_of_Category_B_Auto</targetReference>
        </connector>
        <inputAssignments>
            <field>SK_Status__c</field>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Owner__c</field>
            <value>
                <elementReference>Get_Certificate.b3o__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Revoked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__TicketType__c</field>
            <value>
                <elementReference>Copy_1_of_Get_Competency_Category_B1.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Valid_from__c</field>
            <value>
                <elementReference>Get_Certificate.b3o__Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Valid_until__c</field>
            <value>
                <elementReference>Get_Certificate.b3o__End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Create_Competency</name>
        <label>Create Competency</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_2_of_Category_BE</targetReference>
        </connector>
        <inputAssignments>
            <field>SK_Status__c</field>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Owner__c</field>
            <value>
                <elementReference>Get_Certificate.b3o__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Revoked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__TicketType__c</field>
            <value>
                <elementReference>Copy_2_of_Get_Competency_Category_B_Auto.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Valid_from__c</field>
            <value>
                <elementReference>Get_Certificate.b3o__Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Valid_until__c</field>
            <value>
                <elementReference>Get_Certificate.b3o__End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Create_Competency_0</name>
        <label>Create Competency</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_2_of_Category_C</targetReference>
        </connector>
        <inputAssignments>
            <field>SK_Status__c</field>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Owner__c</field>
            <value>
                <elementReference>Get_Certificate.b3o__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Revoked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__TicketType__c</field>
            <value>
                <elementReference>Copy_2_of_Get_Competency_Category_BE.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Valid_from__c</field>
            <value>
                <elementReference>Get_Certificate.b3o__Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Valid_until__c</field>
            <value>
                <elementReference>Get_Certificate.b3o__End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Create_Competency_0_0</name>
        <label>Create Competency</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_2_of_Category_C1</targetReference>
        </connector>
        <inputAssignments>
            <field>SK_Status__c</field>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Owner__c</field>
            <value>
                <elementReference>Get_Certificate.b3o__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Revoked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__TicketType__c</field>
            <value>
                <elementReference>Copy_2_of_Get_Competency_Category_C.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Valid_from__c</field>
            <value>
                <elementReference>Get_Certificate.b3o__Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Valid_until__c</field>
            <value>
                <elementReference>Get_Certificate.b3o__End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Create_Competency_0_0_0</name>
        <label>Create Competency</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_2_of_Category_C1E</targetReference>
        </connector>
        <inputAssignments>
            <field>SK_Status__c</field>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Owner__c</field>
            <value>
                <elementReference>Get_Certificate.b3o__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Revoked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__TicketType__c</field>
            <value>
                <elementReference>Copy_2_of_Get_Competency_Category_C1.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Valid_from__c</field>
            <value>
                <elementReference>Get_Certificate.b3o__Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Valid_until__c</field>
            <value>
                <elementReference>Get_Certificate.b3o__End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Create_Competency_0_0_0_0</name>
        <label>Create Competency</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_2_of_Category_CE</targetReference>
        </connector>
        <inputAssignments>
            <field>SK_Status__c</field>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Owner__c</field>
            <value>
                <elementReference>Get_Certificate.b3o__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Revoked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__TicketType__c</field>
            <value>
                <elementReference>Copy_2_of_Get_Competency_Category_C1E.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Valid_from__c</field>
            <value>
                <elementReference>Get_Certificate.b3o__Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Valid_until__c</field>
            <value>
                <elementReference>Get_Certificate.b3o__End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Create_Competency_0_0_0_0_0</name>
        <label>Create Competency</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_2_of_Category_D</targetReference>
        </connector>
        <inputAssignments>
            <field>SK_Status__c</field>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Owner__c</field>
            <value>
                <elementReference>Get_Certificate.b3o__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Revoked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__TicketType__c</field>
            <value>
                <elementReference>Copy_2_of_Get_Competency_Category_CE.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Valid_from__c</field>
            <value>
                <elementReference>Get_Certificate.b3o__Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Valid_until__c</field>
            <value>
                <elementReference>Get_Certificate.b3o__End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Create_Competency_0_0_0_0_0_0</name>
        <label>Create Competency</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_2_of_Category_D1</targetReference>
        </connector>
        <inputAssignments>
            <field>SK_Status__c</field>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Owner__c</field>
            <value>
                <elementReference>Get_Certificate.b3o__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Revoked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__TicketType__c</field>
            <value>
                <elementReference>Copy_2_of_Get_Competency_Category_D.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Valid_from__c</field>
            <value>
                <elementReference>Get_Certificate.b3o__Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Valid_until__c</field>
            <value>
                <elementReference>Get_Certificate.b3o__End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Create_Competency_0_0_0_0_0_0_0</name>
        <label>Create Competency</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_2_of_Category_D1E</targetReference>
        </connector>
        <inputAssignments>
            <field>SK_Status__c</field>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Owner__c</field>
            <value>
                <elementReference>Get_Certificate.b3o__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Revoked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__TicketType__c</field>
            <value>
                <elementReference>Copy_2_of_Get_Competency_Category_D1.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Valid_from__c</field>
            <value>
                <elementReference>Get_Certificate.b3o__Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Valid_until__c</field>
            <value>
                <elementReference>Get_Certificate.b3o__End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Create_Competency_0_0_0_0_0_0_0_0</name>
        <label>Create Competency</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_2_of_Category_DE</targetReference>
        </connector>
        <inputAssignments>
            <field>SK_Status__c</field>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Owner__c</field>
            <value>
                <elementReference>Get_Certificate.b3o__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Revoked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__TicketType__c</field>
            <value>
                <elementReference>Copy_2_of_Get_Competency_Category_D1E.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Valid_from__c</field>
            <value>
                <elementReference>Get_Certificate.b3o__Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Valid_until__c</field>
            <value>
                <elementReference>Get_Certificate.b3o__End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Create_Competency_0_0_0_0_0_0_0_0_0</name>
        <label>Create Competency</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>SK_Status__c</field>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Owner__c</field>
            <value>
                <elementReference>Get_Certificate.b3o__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Revoked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__TicketType__c</field>
            <value>
                <elementReference>Copy_2_of_Get_Competency_Category_DE.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Valid_from__c</field>
            <value>
                <elementReference>Get_Certificate.b3o__Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Valid_until__c</field>
            <value>
                <elementReference>Get_Certificate.b3o__End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Ticket</name>
        <label>Create Ticket</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_1_of_Category_B1</targetReference>
        </connector>
        <inputAssignments>
            <field>SK_Status__c</field>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Owner__c</field>
            <value>
                <elementReference>Get_Certificate.b3o__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Revoked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__TicketType__c</field>
            <value>
                <elementReference>Get_Competency_Category_B.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Valid_from__c</field>
            <value>
                <elementReference>Get_Certificate.b3o__Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Valid_until__c</field>
            <value>
                <elementReference>Get_Certificate.b3o__End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_Competency_Category_B1</name>
        <label>Get Competency - Category B1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Category_B_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Category B1 - Licence</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__TicketType__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_Get_Competency_Category_B_Auto</name>
        <label>Get Competency - Category B Auto</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Category_B_Auto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Category B Auto - Licence</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__TicketType__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_Get_Competency_Category_BE</name>
        <label>Get Competency - Category BE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Category_BE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Category BE - Licence</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__TicketType__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_Get_Competency_Category_C</name>
        <label>Get Competency - Category C</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Category_C</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Category C - Licence</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__TicketType__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_Get_Competency_Category_C1</name>
        <label>Get Competency - Category C1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Category_C1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Category C1 - Licence</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__TicketType__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_Get_Competency_Category_C1E</name>
        <label>Get Competency - Category C1E</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Category_C1E</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Category C1E - Licence</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__TicketType__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_Get_Competency_Category_CE</name>
        <label>Get Competency - Category CE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Category_CE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Category CE - Licence</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__TicketType__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_Get_Competency_Category_D</name>
        <label>Get Competency - Category D</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Category_D</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Category D - Licence</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__TicketType__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_Get_Competency_Category_D1</name>
        <label>Get Competency - Category D1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Category_D1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Category D1 - Licence</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__TicketType__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_Get_Competency_Category_D1E</name>
        <label>Get Competency - Category D1E</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Category_D1E</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Category D1E - Licence</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__TicketType__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_Get_Competency_Category_DE</name>
        <label>Get Competency - Category DE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Category_DE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Category DE - Licence</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__TicketType__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Certificate</name>
        <label>Get Certificate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Category_B</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Certificate_Types__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Drivers Licence</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>b3o__Certificate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Competency_Category_B</name>
        <label>Get Competency - Category B</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Category_B_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Category B - Licence</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__TicketType__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Certificate</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
