tbcuat_compare/force-app/main/default/flows/X1218_3B_Send_Registration_Confirmation_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Drivers_DASA</name>
        <label>Drivers DASA</label>
        <locationX>578</locationX>
        <locationY>1547</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@thebestconnection.co.uk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XQH000005pKD72AM</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Drivers_JSA</name>
        <label>Drivers JSA</label>
        <locationX>1106</locationX>
        <locationY>1547</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@thebestconnection.co.uk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XQH000005pDmk2AE</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Drivers_NumberMill</name>
        <label>Drivers NumberMill</label>
        <locationX>842</locationX>
        <locationY>1547</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@thebestconnection.co.uk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XQH000005pIw62AE</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Drivers_Orbital</name>
        <label>Drivers Orbital</label>
        <locationX>50</locationX>
        <locationY>1547</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@thebestconnection.co.uk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XQH000005pKLB2A2</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Drivers_PAYE</name>
        <label>Drivers PAYE</label>
        <locationX>1414</locationX>
        <locationY>1847</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@thebestconnection.co.uk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XQH000005Z4p32AC</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Drivers_PayMe</name>
        <label>Drivers PayMe</label>
        <locationX>314</locationX>
        <locationY>1547</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@thebestconnection.co.uk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XQH000005pKHx2AM</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Reg_Type_DASA</name>
        <label>Reg Type DASA</label>
        <locationX>2162</locationX>
        <locationY>1547</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@thebestconnection.co.uk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XQH000005pKD72AM</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Reg_Type_JSA</name>
        <label>Reg Type JSA</label>
        <locationX>2690</locationX>
        <locationY>1547</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@thebestconnection.co.uk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XQH000005pDmk2AE</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Reg_Type_NumberMill</name>
        <label>Reg Type NumberMill</label>
        <locationX>2426</locationX>
        <locationY>1547</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@thebestconnection.co.uk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XQH000005pIw62AE</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Reg_Type_PAYE</name>
        <label>Reg Type PAYE</label>
        <locationX>1370</locationX>
        <locationY>1547</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@thebestconnection.co.uk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XQH000005pIb82AE</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Reg_Type_PayMe</name>
        <label>Reg Type PayMe</label>
        <locationX>1898</locationX>
        <locationY>1547</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@thebestconnection.co.uk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XQH000005pKHx2AM</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>RegType_Orbital</name>
        <label>RegType Orbital</label>
        <locationX>1634</locationX>
        <locationY>1547</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@thebestconnection.co.uk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XQH000005pKLB2A2</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Care_1</name>
        <label>Care</label>
        <locationX>1150</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>varCare</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Care</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RTW</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Commercial_1</name>
        <label>Commercial</label>
        <locationX>1678</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>varCommercial</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Commercial</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RTW</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DASA_1</name>
        <label>DASA</label>
        <locationX>1414</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>varDASA</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DASA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Alerts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Driving_1</name>
        <label>Driving</label>
        <locationX>1414</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>Driving</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Drivers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RTW</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Industrial_1</name>
        <label>Industrial</label>
        <locationX>886</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>varIndustrial</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Industrial</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RTW</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>JSA_1</name>
        <label>JSA</label>
        <locationX>1678</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>varJSA</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>JSA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Alerts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NumberMill_1</name>
        <label>NumberMill</label>
        <locationX>1942</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>varNumberMill</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NumberMill</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Alerts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Orbital_1</name>
        <label>Orbital</label>
        <locationX>886</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>varOrbital</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ORBITAL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Alerts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PAYE_1</name>
        <label>PAYE</label>
        <locationX>622</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>varPAYE</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PAYE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Alerts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PAYME_1</name>
        <label>PAYME</label>
        <locationX>1150</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>varPAYME</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PAYME</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Alerts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Status_update</name>
        <label>Status update</label>
        <locationX>1502</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_document_submissions.b3o__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Status</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Email_Alerts</name>
        <label>Email Alerts</label>
        <locationX>1414</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>Drivers_PAYE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Driver_PAYE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Driving_1</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PAYE_1</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Drivers_PAYE</targetReference>
            </connector>
            <label>Driver PAYE</label>
        </rules>
        <rules>
            <name>Driver_Orbital</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Driving_1</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Orbital_1</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Drivers_Orbital</targetReference>
            </connector>
            <label>Driver Orbital</label>
        </rules>
        <rules>
            <name>Driver_Payme</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Driving_1</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PAYME_1</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Drivers_PayMe</targetReference>
            </connector>
            <label>Driver Payme</label>
        </rules>
        <rules>
            <name>Driver_DASA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Driving_1</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DASA_1</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Drivers_DASA</targetReference>
            </connector>
            <label>Driver DASA</label>
        </rules>
        <rules>
            <name>Driver_NumberMill</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Driving_1</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NumberMill_1</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Drivers_NumberMill</targetReference>
            </connector>
            <label>Driver NumberMill</label>
        </rules>
        <rules>
            <name>Driver_JSA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Driving_1</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>JSA_1</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Drivers_JSA</targetReference>
            </connector>
            <label>Driver JSA</label>
        </rules>
        <rules>
            <name>RT_Paye</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Industrial_1</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Commercial_1</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Care_1</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PAYE_1</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reg_Type_PAYE</targetReference>
            </connector>
            <label>RT Paye</label>
        </rules>
        <rules>
            <name>RT_Orbital</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Industrial_1</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Commercial_1</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Care_1</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Orbital_1</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RegType_Orbital</targetReference>
            </connector>
            <label>RT Orbital</label>
        </rules>
        <rules>
            <name>RT_Payme</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Industrial_1</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Commercial_1</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Care_1</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PAYME_1</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reg_Type_PayMe</targetReference>
            </connector>
            <label>RT Payme</label>
        </rules>
        <rules>
            <name>RT_DASA</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Industrial_1</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Commercial_1</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Care_1</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DASA_1</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reg_Type_DASA</targetReference>
            </connector>
            <label>RT DASA</label>
        </rules>
        <rules>
            <name>RT_Numbermill</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Industrial_1</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Commercial_1</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Care_1</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NumberMill_1</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reg_Type_NumberMill</targetReference>
            </connector>
            <label>RT Numbermill</label>
        </rules>
        <rules>
            <name>RT_JSA</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Industrial_1</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Commercial_1</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Care_1</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>JSA_1</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reg_Type_JSA</targetReference>
            </connector>
            <label>RT JSA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Job_Type</name>
        <label>Job Type</label>
        <locationX>1414</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>RTW</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Industrial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.What_kind_of_work_are_you_looking_for__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Industrial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Industrial_1</targetReference>
            </connector>
            <label>Industrial</label>
        </rules>
        <rules>
            <name>Care</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.What_kind_of_work_are_you_looking_for__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Care</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Care_1</targetReference>
            </connector>
            <label>Care</label>
        </rules>
        <rules>
            <name>Drivers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.What_kind_of_work_are_you_looking_for__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Driving</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Driving_1</targetReference>
            </connector>
            <label>Drivers</label>
        </rules>
        <rules>
            <name>Commercial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.What_kind_of_work_are_you_looking_for__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Commercial_1</targetReference>
            </connector>
            <label>Commercial</label>
        </rules>
    </decisions>
    <decisions>
        <name>RTW</name>
        <label>RTW?</label>
        <locationX>1414</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Email_Alerts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PAYE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Registration_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PAYE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PAYE_1</targetReference>
            </connector>
            <label>PAYE</label>
        </rules>
        <rules>
            <name>ORBITAL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Registration_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Umbrella</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Umbrella__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Orbital Umbrella Ltd</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Orbital_1</targetReference>
            </connector>
            <label>ORBITAL</label>
        </rules>
        <rules>
            <name>PAYME</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Registration_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Umbrella</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Umbrella__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payme Ltd</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PAYME_1</targetReference>
            </connector>
            <label>PAYME</label>
        </rules>
        <rules>
            <name>DASA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Registration_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Umbrella</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Umbrella__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dasa Umbrella Ltd</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DASA_1</targetReference>
            </connector>
            <label>DASA</label>
        </rules>
        <rules>
            <name>JSA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Registration_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Umbrella</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Umbrella__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Workwell Solutions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JSA_1</targetReference>
            </connector>
            <label>JSA</label>
        </rules>
        <rules>
            <name>NumberMill</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Registration_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Umbrella</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Umbrella__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NumberMill Ltd</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NumberMill_1</targetReference>
            </connector>
            <label>NumberMill</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDate</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>1218 3B Send Registration Confirmation Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218 3B Send Registration Confirmation Email</label>
    <loops>
        <name>Loop_through_document_submissions</name>
        <label>Loop through document submissions</label>
        <locationX>1414</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_All_Document_Submission_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Status_update</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Job_Type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Document_Submission_Records</name>
        <label>Get All Document Submission Records</label>
        <locationX>1414</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_document_submissions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>b3o__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>b3o__Document_Submission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>1502</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Loop_through_document_submissions</targetReference>
        </connector>
        <inputReference>Loop_through_document_submissions</inputReference>
    </recordUpdates>
    <start>
        <locationX>1288</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Document_Submission_Records</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TR1__Candidate_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>DocPackID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Driving</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCare</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCommercial</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDASA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varIndustrial</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varJSA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNumberMill</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOrbital</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPAYE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPAYME</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
