tbcuat_compare/force-app/main/default/flows/X1218_Expire_Credit_Checks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignExpiry</name>
        <label>AssignExpiry</label>
        <locationX>440</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>LoopCC.Expired__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopCC.Expired_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dateToday</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_2</name>
        <label>Assignment 2</label>
        <locationX>440</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>updateRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopCC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopCC</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Empty</name>
        <label>Is Empty?</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>LoopCC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExpireCreditChecks</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>dateToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>1218 - Expire Credit Checks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218 - Scheduled - Expire Credit Checks</label>
    <loops>
        <name>LoopCC</name>
        <label>LoopCC</label>
        <locationX>352</locationX>
        <locationY>468</locationY>
        <collectionReference>ExpireCreditChecks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignExpiry</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateCreditChecks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ExpireCreditChecks</name>
        <label>ExpireCreditChecks</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Days_Until_Expired__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Expired__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Credit_Check__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCreditChecks</name>
        <label>UpdateCreditChecks</label>
        <locationX>352</locationX>
        <locationY>876</locationY>
        <inputReference>updateRecords</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ExpireCreditChecks</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-12-03</startDate>
            <startTime>03:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>updateRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Credit_Check__c</objectType>
    </variables>
</Flow>
