tbcuat_compare/force-app/main/default/flows/X1218RateModifierBeforeDeleteAutomation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>ContractRateModifiersNotNullDeicision</name>
        <label>Contract Rate Modifiers Not Null Deicision</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ContractRateModifiersNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContractRateModifiers</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteContractRateModifiers</targetReference>
            </connector>
            <label>Contract Rate Modifiers Not Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>1218 Rate Modifier Before Delete Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218 Rate Modifier Before Delete Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>DeleteContractRateModifiers</name>
        <label>Delete Contract Rate Modifiers</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <inputReference>GetContractRateModifiers</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GetContractRateModifiers</name>
        <label>Get Contract Rate Modifiers</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContractRateModifiersNotNullDeicision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RateModifier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContractRateModifier__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetContractRateModifiers</targetReference>
        </connector>
        <object>sirenum__Rate_Modifier__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
</Flow>
