tbcuat_compare/force-app/main/default/flows/X1218_Send_Packs_in_Application_Stage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Send_Email_to_candidate</name>
        <label>Send Email to candidate</label>
        <locationX>1238</locationX>
        <locationY>911</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Copy_1_of_Copy_2_of_Initial_Documents_assigned</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>1218-sfdc-support@1218global.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XQH000004Vbx42AC</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_candidate</name>
        <label>Send Email to candidate</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Initial_Documents_assigned</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>1218-sfdc-support@1218global.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XQH000003ohMc2AI</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Copy_1_of_Doc_Pack_already_assigned</name>
        <label>Doc Pack already assigned?</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Create_Doc_Assignment_Drivers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Doc_Assignment_3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Doc_Pack_already_assigned</name>
        <label>Doc Pack already assigned?</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Create_Doc_Assignment_IND</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Doc_Assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Job_Type</name>
        <label>Job Type</label>
        <locationX>1040</locationX>
        <locationY>371</locationY>
        <defaultConnector>
            <targetReference>Get_Doc_Pack</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Industrial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.What_kind_of_work_are_you_looking_for__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Industrial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Doc_Pack</targetReference>
            </connector>
            <label>Industrial</label>
        </rules>
        <rules>
            <name>Care</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.What_kind_of_work_are_you_looking_for__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Care</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Doc_Pack</targetReference>
            </connector>
            <label>Care</label>
        </rules>
        <rules>
            <name>Drivers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.What_kind_of_work_are_you_looking_for__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Driving</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Doc_Pack_Drivers</targetReference>
            </connector>
            <label>Drivers</label>
        </rules>
        <rules>
            <name>Commercial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.What_kind_of_work_are_you_looking_for__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Doc_Pack</targetReference>
            </connector>
            <label>Commercial</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDate</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <interviewLabel>1218 Send Packs in Application Stage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218 Send Packs in Application Stage</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Doc_Assignment_Drivers</name>
        <label>Create Doc Assignment Drivers</label>
        <locationX>1238</locationX>
        <locationY>803</locationY>
        <connector>
            <targetReference>Copy_1_of_Send_Email_to_candidate</targetReference>
        </connector>
        <inputAssignments>
            <field>b3o__Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Document_Pack__c</field>
            <value>
                <elementReference>DocPackID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>b3o__Document_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Doc_Assignment_IND</name>
        <label>Create Doc Assignment IND</label>
        <locationX>182</locationX>
        <locationY>803</locationY>
        <connector>
            <targetReference>Send_Email_to_candidate</targetReference>
        </connector>
        <inputAssignments>
            <field>b3o__Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Document_Pack__c</field>
            <value>
                <elementReference>DocPackID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>b3o__Document_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Doc_Assignment</name>
        <label>Get Doc Assignment</label>
        <locationX>50</locationX>
        <locationY>587</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Doc_Pack_already_assigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>b3o__Document_Pack__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DocPackID</elementReference>
            </value>
        </filters>
        <filters>
            <field>b3o__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>b3o__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>b3o__Document_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Doc_Assignment_3</name>
        <label>Get Doc Assignment</label>
        <locationX>1106</locationX>
        <locationY>587</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Doc_Pack_already_assigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>b3o__Document_Pack__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DocPackID</elementReference>
            </value>
        </filters>
        <filters>
            <field>b3o__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>b3o__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>b3o__Document_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Doc_Pack</name>
        <label>Get Doc Pack</label>
        <locationX>50</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Doc_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard Application Pack</stringValue>
            </value>
        </filters>
        <object>b3o__Document_Pack__c</object>
        <outputAssignments>
            <assignToReference>DocPackID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Doc_Pack_Drivers</name>
        <label>Get Doc Pack</label>
        <locationX>1106</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Doc_Assignment_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Drivers Application Pack</stringValue>
            </value>
        </filters>
        <object>b3o__Document_Pack__c</object>
        <outputAssignments>
            <assignToReference>DocPackID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Copy_2_of_Initial_Documents_assigned</name>
        <label>Initial Documents assigned</label>
        <locationX>1238</locationX>
        <locationY>1019</locationY>
        <connector>
            <targetReference>Assign_Session_to_Candidate</targetReference>
        </connector>
        <inputAssignments>
            <field>Documents_Assigned_Date__c</field>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reminder_Email_Sent__c</field>
            <value>
                <stringValue>Initial Documents assigned</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Initial_Documents_assigned</name>
        <label>Initial Documents assigned</label>
        <locationX>182</locationX>
        <locationY>1019</locationY>
        <connector>
            <targetReference>Copy_1_of_Assign_Session_to_Candidate</targetReference>
        </connector>
        <inputAssignments>
            <field>Documents_Assigned_Date__c</field>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reminder_Email_Sent__c</field>
            <value>
                <stringValue>Initial Documents assigned</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>914</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Job_Type</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Created_via_form__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TR1__Candidate_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Application</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Assign_Session_to_Candidate</name>
        <label>Assign Session to Candidate</label>
        <locationX>1238</locationX>
        <locationY>1127</locationY>
        <flowName>X1218_3B_Assign_Session_to_Candidate</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Copy_1_of_Assign_Session_to_Candidate</name>
        <label>Copy 1 of Assign Session to Candidate</label>
        <locationX>182</locationX>
        <locationY>1127</locationY>
        <flowName>X1218_3B_Assign_Session_to_Candidate</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>DocPackID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
