tbcuat_compare/force-app/main/default/flows/X1218_Create_Non_TBC_Driving_Shift.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>1218 - Create Non-TBC Driving Shift {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218 - Create Non-TBC Driving Shift</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Other_Driving_Shift</name>
        <label>Create Other Driving Shift</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <inputAssignments>
            <field>Driving_Hours__c</field>
            <value>
                <elementReference>Hours_Spent_Driving</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Non_Driving_Hours__c</field>
            <value>
                <elementReference>Non_Driving_Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>s5m__BH4SFJob__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Accepted__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Actual_End_Time__c</field>
            <value>
                <elementReference>Shift_End_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Actual_Start_Time__c</field>
            <value>
                <elementReference>Shift_Start_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Contact__c</field>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Published__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Scheduled_End_Time__c</field>
            <value>
                <elementReference>Shift_End_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Scheduled_Start_Time__c</field>
            <value>
                <elementReference>Shift_Start_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Site__c</field>
            <value>
                <elementReference>Get_Non_TBC_Driving_Site.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Team__c</field>
            <value>
                <elementReference>Get_Non_TBC_Driving_Job_Role.Id</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__Shift__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact_ID</name>
        <label>Get Contact ID</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Non_TBC_Driving_Shift</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Non_TBC_Driving_Job_Role</name>
        <label>Get Non TBC Driving Job Role</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Non_TBC_Driving_Site</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Non TBC Driving Role</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Non_TBC_Driving_Site</name>
        <label>Get Non TBC Driving Site</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Other_Driving_Shift</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Non TBC Driving Shift</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Non_TBC_Driving_Shift</name>
        <label>Non-TBC Driving Shift</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Non_TBC_Driving_Job_Role</targetReference>
        </connector>
        <fields>
            <name>Non_TBC_Driving_Shift_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Non_TBC_Driving_Shift_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Shift_Start_Time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDateTime</elementReference>
                    </defaultValue>
                    <fieldText>Shift Start Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;This is the time you started your Driving Shift with the other agency&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Hours_Spent_Driving</name>
                    <dataType>Number</dataType>
                    <fieldText>Hours Spent Driving</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;This is the number of hours you were driving for during the shift.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Non_TBC_Driving_Shift_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Shift_End_Time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDateTime</elementReference>
                    </defaultValue>
                    <fieldText>Shift End Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;This is the time you ended your Driving Shift with the other agency.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Non_Driving_Hours</name>
                    <dataType>Number</dataType>
                    <fieldText>Non-Driving Hours</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;This is the number of hours where you were not driving during the shift.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
