tbcuat_compare/force-app/main/default/flows/X1218_Creating_new_interview_slots_manually.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>1218 Creating new interview slots manually {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218 Creating new interview slots manually</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Document_Assignment</name>
        <label>Create Document Assignment</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>b3o__Contact__c</field>
            <value>
                <elementReference>$Record.b3o__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Document_Pack__c</field>
            <value>
                <elementReference>Get_Document_Pack.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>b3o__Document_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Document_Pack</name>
        <label>Get Document Pack</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Document_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.b3o__Session__r.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>b3o__Document_Pack__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Document_Pack</targetReference>
        </connector>
        <object>b3o__Session_Invitation__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
