tbcuat_compare/force-app/main/default/flows/X1218_Set_Details_for_Non_TBC_Driving_Shift.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_a_Driver</name>
        <label>Is a Driver?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>TBC Connect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Non_TBC_Driving_Job_Role</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>1218 - Set Details for Non TBC Driving Shift {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218 - Set Details for Non TBC Driving Shift</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Non_TBC_Driving_Job_Role</name>
        <label>Get Non TBC Driving Job Role</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Non_TBC_Driving_Site</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Non_TBC_Driving_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Non_TBC_Driving_Site</name>
        <label>Get Non TBC Driving Site</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Adhoc_Shift</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Non_TBC_Driving_Site__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Adhoc_Shift</name>
        <label>Update Adhoc Shift</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>sirenum__Site__c</field>
            <value>
                <elementReference>Get_Non_TBC_Driving_Site.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Team__c</field>
            <value>
                <elementReference>Get_Non_TBC_Driving_Job_Role.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_a_Driver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__AdHoc__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>sirenum__Shift__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
