tbcuat_compare/force-app/main/default/flows/X1218ContractRateCardPageBeforeDeleteAutomation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>ContractRateLinesNotNullDecision</name>
        <label>Contract Rate Lines Not Null Decision</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ContractRateLinesNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContractRateLines</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteContractRateLines</targetReference>
            </connector>
            <label>Contract Rate Lines Not Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>1218 Contract Rate Card Page Before Delete Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218 Contract Rate Card Page Before Delete Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>DeleteContractRateLines</name>
        <label>Delete Contract Rate Lines</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <inputReference>GetContractRateLines</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GetContractRateLines</name>
        <label>Get Contract Rate Lines</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContractRateLinesNotNullDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractRateCardPage__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContractRateLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetContractRateLines</targetReference>
        </connector>
        <object>ContractRateCardPage__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
</Flow>
