tbcuat_compare/force-app/main/default/flows/X1218RateLineAfterInsertAutomation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>ContractRateCardPagesNotNullDecision</name>
        <label>Contract Rate Card Pages Not Null Decision</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ContractRateCardPagesNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContractRateCardPages</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CollectContractRateLines</targetReference>
            </connector>
            <label>Contract Rate Card Pages Not Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>1218 Rate Line After Insert Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218 Rate Line After Insert Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateContractRateLines</name>
        <label>Create Contract Rate Lines</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputReference>CollectContractRateLines</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetContractRateCardPages</name>
        <label>Get Contract Rate Card Pages</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContractRateCardPagesNotNullDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RateCardPage__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sirenum__Rate_Card_Page__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContractRateCardPage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetContractRateCardPages</targetReference>
        </connector>
        <object>sirenum__Rate_Line__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <transforms>
        <name>CollectContractRateLines</name>
        <label>Collect Contract Rate Lines</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>CreateContractRateLines</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>ContractRateLine__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>ContractRateCardPage__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GetContractRateCardPages[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>RateLine__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
</Flow>
