tbcuat_compare/force-app/main/default/flows/X1218_3B_Send_Onboarding_Pack_automatically.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Send_Email_to_candidate</name>
        <label>Send Email to candidate</label>
        <locationX>1238</locationX>
        <locationY>971</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Copy_2_of_Update_Date_field</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@thebestconnection.co.uk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Action Required: Update Your Application Pack</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XQH000004Vbx42AC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Send_Email_to_candidate</name>
        <label>Send Email to candidate</label>
        <locationX>710</locationX>
        <locationY>971</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Copy_1_of_Update_Date_field</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@thebestconnection.co.uk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Action Required: Update Your Application Pack</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XQH000004VgS52AK</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Copy_4_of_Send_Email_to_candidate</name>
        <label>Send Email to candidate</label>
        <locationX>1766</locationX>
        <locationY>971</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Copy_3_of_Update_Date_field</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@thebestconnection.co.uk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Action Required: Update Your Application Pack</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XQH000004Vfe62AC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Get_Magic_link_industrial</name>
        <label>Get Magic link</label>
        <locationX>182</locationX>
        <locationY>971</locationY>
        <actionName>b3p__CreateSessionService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Magic_Link</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>b3p__CreateSessionService</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_candidate</name>
        <label>Send Email to candidate</label>
        <locationX>182</locationX>
        <locationY>1295</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@thebestconnection.co.uk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Action Required: Update Your Application Pack</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XQH000004VdAt2AK</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Magic_Link</name>
        <label>Assign Magic Link</label>
        <locationX>182</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>sessionKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Magic_link_industrial.sessionkey</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Date_field</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Copy_1_of_Doc_Pack_already_assigned</name>
        <label>Doc Pack already assigned?</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Create_Doc_Assignment_Drivers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Doc_Assignment_3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Doc_Pack_already_assigned</name>
        <label>Doc Pack already assigned?</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Create_Doc_Assignment_Care</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Doc_Assignment_2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_3_of_Doc_Pack_already_assigned</name>
        <label>Copy 3 of Doc Pack already assigned?</label>
        <locationX>1634</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Create_Doc_Assignment_Commercial</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Doc_Assignment_4</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Doc_Pack_already_assigned</name>
        <label>Doc Pack already assigned?</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Create_Doc_Assignment_IND</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Doc_Assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Job_Type</name>
        <label>Job Type</label>
        <locationX>1040</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Industrial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.What_kind_of_work_are_you_looking_for__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Industrial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Doc_Pack</targetReference>
            </connector>
            <label>Industrial</label>
        </rules>
        <rules>
            <name>Care</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.What_kind_of_work_are_you_looking_for__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Care</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Doc_Pack_care</targetReference>
            </connector>
            <label>Care</label>
        </rules>
        <rules>
            <name>Drivers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.What_kind_of_work_are_you_looking_for__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Driving</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Doc_Pack_Drivers</targetReference>
            </connector>
            <label>Drivers</label>
        </rules>
        <rules>
            <name>Commercial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.What_kind_of_work_are_you_looking_for__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Doc_Pack_Commercial</targetReference>
            </connector>
            <label>Commercial</label>
        </rules>
    </decisions>
    <description>Update Email Templates</description>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDate</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <name>PortalURL</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
   SUBSTITUTE(
       SUBSTITUTE(
         SUBSTITUTE(
           SUBSTITUTE(
               SUBSTITUTE(
                   SUBSTITUTE(
                        {!sessionKey}, 
                       &quot; &quot;, &quot;%20&quot;
                     ), 
                     &quot;&amp;&quot;, &quot;%26&quot;
                  ), 
                  &quot;?&quot;, &quot;%3F&quot;
            ), 
            &quot;=&quot;, &quot;%3D&quot;
         ), 
         &quot;#&quot;, &quot;%23&quot;
      ), 
      &quot;/&quot;, &quot;%2F&quot;
   ), 
   &quot;+&quot;, &quot;%2B&quot;
)</expression>
    </formulas>
    <interviewLabel>1218 3B Send Onboarding Pack {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218 3B Send Onboarding Pack (automatically)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Doc_Assignment_Care</name>
        <label>Create Doc Assignment Care</label>
        <locationX>710</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Get_Email_Template_Care</targetReference>
        </connector>
        <inputAssignments>
            <field>b3o__Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Document_Pack__c</field>
            <value>
                <elementReference>DocPackID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>b3o__Document_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Doc_Assignment_Commercial</name>
        <label>Create Doc Assignment Commercial</label>
        <locationX>1766</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Get_Email_Template_Commercial</targetReference>
        </connector>
        <inputAssignments>
            <field>b3o__Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Document_Pack__c</field>
            <value>
                <elementReference>DocPackID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>b3o__Document_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Doc_Assignment_Drivers</name>
        <label>Create Doc Assignment Drivers</label>
        <locationX>1238</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Get_Email_Template_Drivers</targetReference>
        </connector>
        <inputAssignments>
            <field>b3o__Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Document_Pack__c</field>
            <value>
                <elementReference>DocPackID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>b3o__Document_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Doc_Assignment_IND</name>
        <label>Create Doc Assignment IND</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Get_Email_Template_IND</targetReference>
        </connector>
        <inputAssignments>
            <field>b3o__Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Document_Pack__c</field>
            <value>
                <elementReference>DocPackID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>b3o__Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>b3o__Document_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Doc_Assignment</name>
        <label>Get Doc Assignment</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Doc_Pack_already_assigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>b3o__Document_Pack__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DocPackID</elementReference>
            </value>
        </filters>
        <filters>
            <field>b3o__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>b3o__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>b3o__Document_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Doc_Assignment_2</name>
        <label>Get Doc Assignment</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Doc_Pack_already_assigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>b3o__Document_Pack__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DocPackID</elementReference>
            </value>
        </filters>
        <filters>
            <field>b3o__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>b3o__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>b3o__Document_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Doc_Assignment_3</name>
        <label>Get Doc Assignment</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Doc_Pack_already_assigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>b3o__Document_Pack__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DocPackID</elementReference>
            </value>
        </filters>
        <filters>
            <field>b3o__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>b3o__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>b3o__Document_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Doc_Assignment_4</name>
        <label>Get Doc Assignment</label>
        <locationX>1634</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_3_of_Doc_Pack_already_assigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>b3o__Document_Pack__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DocPackID</elementReference>
            </value>
        </filters>
        <filters>
            <field>b3o__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>b3o__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>b3o__Document_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Doc_Pack</name>
        <label>Get Doc Pack</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Doc_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Post Interview Standard Pack</stringValue>
            </value>
        </filters>
        <object>b3o__Document_Pack__c</object>
        <outputAssignments>
            <assignToReference>DocPackID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Doc_Pack_care</name>
        <label>Get Doc Pack</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Doc_Assignment_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Post Interview Residential/Care Pack</stringValue>
            </value>
        </filters>
        <object>b3o__Document_Pack__c</object>
        <outputAssignments>
            <assignToReference>DocPackID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Doc_Pack_Commercial</name>
        <label>Get Doc Pack</label>
        <locationX>1634</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Doc_Assignment_4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Post Interview Commercial Pack</stringValue>
            </value>
        </filters>
        <object>b3o__Document_Pack__c</object>
        <outputAssignments>
            <assignToReference>DocPackID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Doc_Pack_Drivers</name>
        <label>Get Doc Pack</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Doc_Assignment_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Post Interview Driving Pack</stringValue>
            </value>
        </filters>
        <object>b3o__Document_Pack__c</object>
        <outputAssignments>
            <assignToReference>DocPackID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_Care</name>
        <label>Get Email Template</label>
        <locationX>710</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Send_Email_to_candidate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Post-Interview Pack Care</stringValue>
            </value>
        </filters>
        <object>EmailTemplate</object>
        <outputAssignments>
            <assignToReference>varEmailTemplate</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_Commercial</name>
        <label>Get Email Template</label>
        <locationX>1766</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_4_of_Send_Email_to_candidate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Post-Interview Pack Commercial</stringValue>
            </value>
        </filters>
        <object>EmailTemplate</object>
        <outputAssignments>
            <assignToReference>varEmailTemplate</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_Drivers</name>
        <label>Get Email Template</label>
        <locationX>1238</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Send_Email_to_candidate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Post-Interview Pack Drivers</stringValue>
            </value>
        </filters>
        <object>EmailTemplate</object>
        <outputAssignments>
            <assignToReference>varEmailTemplate</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_IND</name>
        <label>Get Email Template</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Magic_link_industrial</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Post-Interview Pack Standard</stringValue>
            </value>
        </filters>
        <object>EmailTemplate</object>
        <outputAssignments>
            <assignToReference>varEmailTemplate</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Date_field</name>
        <label>Copy 1 of Update Date field</label>
        <locationX>710</locationX>
        <locationY>1079</locationY>
        <inputAssignments>
            <field>Documents_Assigned_Date__c</field>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reminder_Email_Sent__c</field>
            <value>
                <stringValue>Initial Documents assigned</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Date_field</name>
        <label>Copy 2 of Update Date field</label>
        <locationX>1238</locationX>
        <locationY>1079</locationY>
        <inputAssignments>
            <field>Documents_Assigned_Date__c</field>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reminder_Email_Sent__c</field>
            <value>
                <stringValue>Initial Documents assigned</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_Update_Date_field</name>
        <label>Copy 3 of Update Date field</label>
        <locationX>1766</locationX>
        <locationY>1079</locationY>
        <inputAssignments>
            <field>Documents_Assigned_Date__c</field>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reminder_Email_Sent__c</field>
            <value>
                <stringValue>Initial Documents assigned</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Date_field</name>
        <label>Update Date field</label>
        <locationX>182</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Send_Email_to_candidate</targetReference>
        </connector>
        <inputAssignments>
            <field>Doc_Assignment_Date__c</field>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reminder_Email_Sent__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>914</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Job_Type</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TR1__Candidate_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Onboarding</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>PortalLogin</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;img src=&quot;https://thebestconnectionsf--uat.sandbox.file.force.com/sfc/servlet.shepherd/version/download/068Pt0000060W7i?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;TBC Email Header (1).png&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Dear &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.FirstName} {!$Record.LastName}&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Thank you for progressing with your application to join us. As part of our onboarding &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;process, we kindly ask you to submit any remaining documents required for the role &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;you have applied for.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;To upload your documents, please access our onboarding portal using the link below:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://thebestconnectionsf--uat.sandbox.my.salesforce-sites.com/onboarding/b3p__Portal#LandingPage&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;&lt;strong&gt;ACCESS MY PORTAL&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;For any further questions or assistance, don’t hesitate to reach out to your local branch. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Branch details can be found here: &lt;/span&gt;&lt;a href=&quot;www.thebestconnection.co.uk/branches&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;www.thebestconnection.co.uk/branches&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Kind Regards&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://thebestconnectionsf--uat.sandbox.file.force.com/sfc/servlet.shepherd/version/download/068Pt000005uspF?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;The_Best_Connection_long_logo_RGB_01.png&quot; title=&quot;www.thebestconnection.co.uk/branches&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://thebestconnectionsf--uat.sandbox.file.force.com/sfc/servlet.shepherd/version/download/068Pt0000060NcL?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;TBC Email Footer (1).png&quot; title=&quot;www.thebestconnection.co.uk/branches&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>DocPackID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sessionKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmailTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
