tbcuat_compare/force-app/main/default/flows/X1218_Interview_Slot_booked_Inform_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>1218 Interview Slot booked - Inform Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218 Interview Slot booked - Inform Owner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Invitation_Records_from_Contact</name>
        <label>Get Invitation Records from Contact</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Interview_Information_on_Contact_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>b3o__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.b3o__Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>b3o__Session_Invitation__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Interview_Information_on_Contact_Record</name>
        <label>Update Interview Information on Contact Record</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Interview_Date_Time__c</field>
            <value>
                <elementReference>$Record.b3o__Booking_Start_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.b3o__Contact__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Invitation_Records_from_Contact</targetReference>
        </connector>
        <filterFormula>( ISCHANGED ({!$Record.b3o__Session_Schedule__c}) ) &amp;&amp; NOT ( ISNULL ({!$Record.b3o__Session_Schedule__c}) )</filterFormula>
        <object>b3o__Session_Invitation__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Session_ID_PE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
