tbcuat_compare/force-app/main/default/flows/X1218_Unapprove_WFM_Contracts_that_have_Expired.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Expiry_Details</name>
        <label>Add Expiry Details</label>
        <locationX>440</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>Loop_Found_Records.Approved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Found_Records.Approver__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Found_Records.Approved_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Found_Records.Approval_Comments__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Found_Records.Reason_for_Reopening__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approval for this record has been automatically expired after 6 months</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Found_Records.Automatically_Expired_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateToday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Found_Records.Contract_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Records_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Records_to_Collection</name>
        <label>Add Records to Collection</label>
        <locationX>440</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>ContractstoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Found_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Found_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>No_Records_Found</name>
        <label>No Records Found</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>Loop_Found_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Records Found</defaultConnectorLabel>
        <rules>
            <name>No_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Expired_WFM_Contracts</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Records</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DateToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>1218 - Unapprove WFM Contracts that have Expired {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218 - Unapprove WFM Contracts that have Expired</label>
    <loops>
        <name>Loop_Found_Records</name>
        <label>Loop Found Records</label>
        <locationX>352</locationX>
        <locationY>468</locationY>
        <collectionReference>Get_Expired_WFM_Contracts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Expiry_Details</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_WFM_Contracts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Expired_WFM_Contracts</name>
        <label>Get Expired WFM Contracts</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Records_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Days_Until_Approval_Expires__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Approved__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__ProActiveContract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_WFM_Contracts</name>
        <label>Update WFM Contracts</label>
        <locationX>352</locationX>
        <locationY>876</locationY>
        <inputReference>ContractstoUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Expired_WFM_Contracts</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-05-05</startDate>
            <startTime>02:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ContractstoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>sirenum__ProActiveContract__c</objectType>
    </variables>
</Flow>
