tbcuat_compare/force-app/main/default/flows/X1218_Get_All_Certificates_Linked_to_Document_Submission.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Rejected_Certificate</name>
        <label>Rejected Certificate</label>
        <locationX>270</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>RejectedCert</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rejected</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_certificates</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Rejected_Cert</name>
        <label>Check if Rejected Cert</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rejected_Certificate_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Rejected_Certificate</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Document_Submission</targetReference>
            </connector>
            <label>Rejected Certificate Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>402</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>loop_through_certificates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_through_certificates.Certificate_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rejected_Certificate</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>1218 Get All Certificates Linked to Document Submission {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218 Get All Certificates Linked to Document Submission</label>
    <loops>
        <name>loop_through_certificates</name>
        <label>loop through certificates</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <collectionReference>Certificates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_Rejected_Cert</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Certificate_Records</name>
        <label>Get Certificate Records</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_through_certificates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Certificate_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Document_Submission_Record.Certificate_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>b3o__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Document_Submission_Record.b3o__Contact__c</elementReference>
            </value>
        </filters>
        <object>b3o__Certificate__c</object>
        <outputReference>Certificates</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Certificate_Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Document_Submission_Record</name>
        <label>Get Document Submission Record</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Certificate_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Certificate_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Certificate_Type_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>b3o__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.b3o__Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>b3o__Document_Submission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Document_Submission</name>
        <label>Update Document Submission</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Certificate_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Certificate_Type_Name__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>b3o__Status__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <object>b3o__Document_Submission__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Document_Submission_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Certificate_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>b3o__Certificate__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Certificates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>b3o__Certificate__c</objectType>
    </variables>
    <variables>
        <name>CertificateStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RejectedCert</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
