tbcuat_compare/force-app/main/default/flows/X1218_Rate_Per_Hour_for_Shift.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Rate_Card_Page</name>
        <label>Rate Card Page?</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Rate_Page</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Rate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rate_Found</name>
        <label>Rate Found?</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Rate_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Rate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Pay_Rate</targetReference>
            </connector>
            <label>Yes Rate Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Shift</name>
        <label>Shift?</label>
        <locationX>611</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Demand</defaultConnectorLabel>
        <rules>
            <name>Is_a_Shift</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shift</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Rate_Page</targetReference>
            </connector>
            <label>Is a Shift</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>1218 - Rate Per Hour for Shift {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218 - Rate Per Hour for Shift</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Rate</name>
        <label>Get Rate</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Rate_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Rate_Card_Page__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Rate_Page.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__Rate_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Rate_Page</name>
        <label>Get Rate Page</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Rate_Card_Page</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Condition_value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sirenum__Team__r.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__Rate_Card_Page__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Pay_Rate</name>
        <label>Set Pay Rate</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>Rate_Per_Hour__c</field>
            <value>
                <elementReference>Get_Rate.sirenum__Pay_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Shift</targetReference>
        </connector>
        <object>sirenum__Shift__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
