tbcuat_compare/force-app/main/default/flows/X1218_Find_Work_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Gets the ids for the sites nearest to the contact.</description>
        <name>getNearbySiteIDs</name>
        <label>Get Nearby Site IDs</label>
        <locationX>1040</locationX>
        <locationY>134</locationY>
        <actionName>sirenum__SiteDistanceInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>getActiveJobOffersForContact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>maxDistanceOverride</name>
            <value>
                <elementReference>maximumDistanceOverride</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sirenum__SiteDistanceInvocable</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>nearbySiteIDs</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>mergeRecordListToIdList</name>
        <label>Merge Record List To Id List</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <actionName>sirenum__MergeRecordListToIdListInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>incrementAssignments</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>sirenum__Shift__c</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <targetReference>assignFault</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>currentIDs</name>
            <value>
                <elementReference>shortlistIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>queriedShiftsForIteration</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sirenum__MergeRecordListToIdListInvocable</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>shortlistIds</assignToReference>
            <name>ids</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assignButtonResourceValue</name>
        <label>Assign Button Resource Value</label>
        <locationX>1766</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>buttonResourceValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>findWorkerTiles.toolbarButton</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decideWhichScreenToDisplay</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignDates</name>
        <label>Assign Dates</label>
        <locationX>1106</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>startDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>searchDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numberOfDays</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>daysSlider.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>getNearbySiteIDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignDatesTempVariables</name>
        <label>Assign Dates Temp Variables</label>
        <locationX>1106</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>startDateTemp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>startDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numberOfDaysTemp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>numberOfDays</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>datesScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignFault</name>
        <label>Assign Fault</label>
        <locationX>314</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>generalError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignFreeTextFilter</name>
        <label>Assign Free Text Filter</label>
        <locationX>1898</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>freeTextFilter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>freeFilterTextbox</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>findWorkTiles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the isAscending variable</description>
        <name>AssignIsAscending</name>
        <label>Assign is Ascending</label>
        <locationX>1634</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>isAscending</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SortOrder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>findWorkTiles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignPreferenceMainVariables</name>
        <label>Assign Preference Main Variables</label>
        <locationX>1370</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>maximumDistanceOverride</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>maximumDistanceOverrideSlider.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedJobType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>jobTypePicklist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>getNearbySiteIDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignPreferenceTempVariables</name>
        <label>Assign Preference Temp Variables</label>
        <locationX>1370</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>maximumDistanceOverrideTemp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>maximumDistanceOverride</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedJobTypeTemp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedJobType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>preferencesScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the shift id to the shifts with Active job offers collection</description>
        <name>assignShiftIdForActiveJobOffer</name>
        <label>Assign Shift Id For Active Job Offer</label>
        <locationX>1128</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>shiftIdsWithExcludedJobOffersForContact</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getShiftIdsForActiveJobOffers.sirenum__Shift__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getShiftIdsForActiveJobOffers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>clearShiftIdsWithActiveJobOffersForContact</name>
        <label>Clear ShiftIds With Active JobOffers For Contact</label>
        <locationX>1040</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>shiftIdsWithExcludedJobOffersForContact</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>shiftIdsWithExcludedJobOffersForContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getShiftIdsForActiveJobOffers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>incrementAssignments</name>
        <label>Increment Assignments</label>
        <locationX>314</locationX>
        <locationY>1820</locationY>
        <assignmentItems>
            <assignToReference>numberOfDaysCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentIteratorDate</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>queriedShiftsForIteration</assignToReference>
            <operator>RemoveAll</operator>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>iterateNumberOfDays</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>intitializeVariablesForDaysLoop</name>
        <label>Intitialize Variables For Days Loop</label>
        <locationX>1040</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>currentIteratorDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>startDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numberOfDaysCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>generalError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shortlistIds</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>shortlistIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterateNumberOfDays</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Chose to sort in ascending order.</description>
        <name>ascendingChoice</name>
        <choiceText>Ascending</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <description>Chose to sort in descending order.</description>
        <name>descendingChoice</name>
        <choiceText>Descending</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <constants>
        <description>The execute param for the FindWorkTiles LWC.</description>
        <name>executeFindWork</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <constants>
        <description>The showDistance param for the FindWorkTiles LWC.</description>
        <name>showDistance</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </constants>
    <decisions>
        <description>The main decision for which screen to display</description>
        <name>decideWhichScreenToDisplay</name>
        <label>Decide Which Screen To Display</label>
        <locationX>1766</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>findWorkTiles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unknown Action</defaultConnectorLabel>
        <rules>
            <name>showDatesScreen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>buttonResourceValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>buttonResourceDates</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignDatesTempVariables</targetReference>
            </connector>
            <label>Show Dates Screen</label>
        </rules>
        <rules>
            <name>showPreferencesScreen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>buttonResourceValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>buttonResourcePreferences</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignPreferenceTempVariables</targetReference>
            </connector>
            <label>Show Preferences Screen</label>
        </rules>
        <rules>
            <name>showSortScreen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>buttonResourceValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>buttonResourceSort</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sortScreen</targetReference>
            </connector>
            <label>Show Sort Screen</label>
        </rules>
        <rules>
            <name>showFilterScreen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>buttonResourceValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>buttonResourceFilter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>filterScreen</targetReference>
            </connector>
            <label>Show Filter Screen</label>
        </rules>
        <rules>
            <name>refreshTheScreen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>buttonResourceValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>buttonResourceRefresh</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>getNearbySiteIDs</targetReference>
            </connector>
            <label>Refresh The Screen</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the job type resource is set</description>
        <name>isJobTypeResourceSet</name>
        <label>Is Job Type Resource Set</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>getShiftsWithoutJobTypeFilter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Job Type is not set</defaultConnectorLabel>
        <rules>
            <name>jobTypeResourceIsSet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedJobType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getShiftsWithJobTypeFilter</targetReference>
            </connector>
            <label>Job Type Resource is Set</label>
        </rules>
    </decisions>
    <decisions>
        <description>Iterates the number of days set using a counter to create a short list of shift IDs for the days calculated from today and spanning the number of days.</description>
        <name>iterateNumberOfDays</name>
        <label>Iterate For Number Days To Build Shift IDs Shortlist</label>
        <locationX>1040</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>findWorkTiles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Display Tiles</defaultConnectorLabel>
        <rules>
            <name>counterLessThanNumberOfDays</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfDaysCounter</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>numberOfDays</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isJobTypeResourceSet</targetReference>
            </connector>
            <label>Counter &lt; Number of Days</label>
        </rules>
    </decisions>
    <decisions>
        <name>mergeShiftIds</name>
        <label>Merge Shift Ids</label>
        <locationX>314</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>incrementAssignments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Merge</defaultConnectorLabel>
        <rules>
            <name>doMerge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>queriedShiftsForIteration</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>mergeRecordListToIdList</targetReference>
            </connector>
            <label>Do Merge</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <description>The Job Types presented as options in the job type filter lookup.</description>
        <name>AllJobTypes</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>sirenum__Job_Type__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>The end date for the current iteration. Allows filtering for the date plus 1</description>
        <name>currentIteratorEndDate</name>
        <dataType>Date</dataType>
        <expression>{!currentIteratorDate} + 1</expression>
    </formulas>
    <formulas>
        <description>The calculated date for the end of the date selection</description>
        <name>endDate</name>
        <dataType>Date</dataType>
        <expression>{!startDate} + {!numberOfDays}</expression>
    </formulas>
    <formulas>
        <description>Determines if the filter is valid</description>
        <name>isValidFilter</name>
        <dataType>Boolean</dataType>
        <expression>IF(   OR(ISBLANK({!freeFilterTextbox}),   LEN({!freeFilterTextbox}) &gt;= 3),
TRUE,   FALSE)</expression>
    </formulas>
    <formulas>
        <description>The formatted text of the selected value of the Highest Severity Broken picklist, provided to the Find Work Tiles component.</description>
        <name>maxSeverity</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!highestSeverityBroken}, &quot;NONE&quot;)</expression>
    </formulas>
    <interviewLabel>1218 - Find Work Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218 - Find Work Flow</label>
    <loops>
        <description>Adds the shift ids from the active job offers to a collection to use in a query</description>
        <name>getShiftIdsForActiveJobOffers</name>
        <label>Get Shift Ids For Active Job Offers</label>
        <locationX>1040</locationX>
        <locationY>458</locationY>
        <collectionReference>getActiveJobOffersForContact</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignShiftIdForActiveJobOffer</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>intitializeVariablesForDaysLoop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Gets all active job offers for the contact. Note the dates are filtered just for the exact timespan required. No allowance is currently made for a day on either side to allow for clientside timezones against server UTC. This should be addressed in the future</description>
        <name>getActiveJobOffersForContact</name>
        <label>Get Active Job Offers For Contact</label>
        <locationX>1040</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>clearShiftIdsWithActiveJobOffersForContact</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>(1 AND 4 AND 5) AND (2 OR 3)</filterLogic>
        <filters>
            <field>sirenum__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__Shift_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>startDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Shift_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>endDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__Shift_Invitation__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>sirenum__Shift__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gests the shifts including the job type filter in the query. Note the dates are filtered just for the exact timespan required. No allowance is currently made for a day on either side to allow for clientside timezones against server UTC. This should be addressed in the future</description>
        <name>getShiftsWithJobTypeFilter</name>
        <label>Get Shifts With Job Type Filter</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>mergeShiftIds</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>(1 AND 2 AND 5 AND (3 OR 4)) AND ((6 AND 7) OR (8 AND 9))</filterLogic>
        <filters>
            <field>sirenum__Site__c</field>
            <operator>In</operator>
            <value>
                <elementReference>nearbySiteIDs</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Shift_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentIteratorDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Job_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedJobType</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Job_Type_Calculated__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedJobType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>shiftIdsWithExcludedJobOffersForContact</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Broadcasts__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__Broadcasts__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__FillRateByCount__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </filters>
        <object>sirenum__Shift__c</object>
        <outputReference>queriedShiftsForIteration</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>sirenum__Site__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Gets the shifts not including the job type filter in the query. Note the dates are filtered just for the exact timespan required. No allowance is currently made for a day on either side to allow for clientside timezones against server UTC. This should be addressed in the future</description>
        <name>getShiftsWithoutJobTypeFilter</name>
        <label>Get Shifts Without Job Type Filter</label>
        <locationX>578</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>mergeShiftIds</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>(1 AND 2 AND 3) AND ((4 AND 5) OR (6 AND 7))</filterLogic>
        <filters>
            <field>sirenum__Site__c</field>
            <operator>In</operator>
            <value>
                <elementReference>nearbySiteIDs</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Shift_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentIteratorDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>shiftIdsWithExcludedJobOffersForContact</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Broadcasts__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__Broadcasts__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__FillRateByCount__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </filters>
        <object>sirenum__Shift__c</object>
        <outputReference>queriedShiftsForIteration</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Get the dates to create the shift Ids shortlist</description>
        <name>datesScreen</name>
        <label>Dates Screen</label>
        <locationX>1106</locationX>
        <locationY>1406</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assignDates</targetReference>
        </connector>
        <fields>
            <name>datesScreenHeaderText</name>
            <fieldText>&lt;h2 style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: var(--lwc-fontSize5,1rem);&quot;&gt;Select Dates&lt;/strong&gt;&lt;/h2&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DatesScreenMessage</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please choose the first date you are interested in and how many days from that date to search.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>searchDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>startDate</elementReference>
            </defaultValue>
            <fieldText>Search Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;The date must be today, or greater&lt;/p&gt;</errorMessage>
                <formulaExpression>{!searchDate} &gt;= {!$Flow.CurrentDate}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>daysSlider</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>7.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>min</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>numberOfDays</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Number of Days</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Show Me</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>Error Screen</label>
        <locationX>2954</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorLabel</name>
            <fieldText>&lt;p&gt;{!generalError}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>A screen to display fields for filtering</description>
        <name>filterScreen</name>
        <label>Filter Screen</label>
        <locationX>1898</locationX>
        <locationY>1298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assignFreeTextFilter</targetReference>
        </connector>
        <fields>
            <name>filterScreenTitle</name>
            <fieldText>&lt;h2 style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: var(--lwc-fontSize5,1rem);&quot;&gt;Filter&lt;/strong&gt;&lt;/h2&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FilterScreenMessage</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;You can apply a free text filter to only show shifts that include the text you enter. If you want to use different options in the search, please use the “Preferences” tool instead.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>freeFilterTextbox</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>freeTextFilter</elementReference>
            </defaultValue>
            <fieldText>Free Filter Text</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Must be blank or contain at least 3 characters.&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;The filter must be blank or contain at least 3 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!isValidFilter}</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Apply</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>findWorkTiles</name>
        <label>Find Work</label>
        <locationX>1766</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignButtonResourceValue</targetReference>
        </connector>
        <fields>
            <name>findWorkerTiles</name>
            <extensionName>sirenum:findWorkTiles</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>contactId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shortlist</name>
                <value>
                    <elementReference>shortlistIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>execute</name>
                <value>
                    <elementReference>executeFindWork</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldSetName</name>
                <value>
                    <stringValue>find_work_fields</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>toolbarButtons</name>
                <value>
                    <stringValue>{ &quot;date_input&quot;: &quot;dates&quot;, &quot;settings&quot;: &quot;preferences&quot;, &quot;sort&quot;: &quot;sort&quot;, &quot;filterList&quot;: &quot;filter&quot;, &quot;refresh&quot;: &quot;refresh&quot; } </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minimumResults</name>
                <value>
                    <numberValue>20.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sortBy</name>
                <value>
                    <elementReference>sortBy</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ascending</name>
                <value>
                    <elementReference>isAscending</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>freeTextFilter</name>
                <value>
                    <elementReference>freeTextFilter</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>highestSeverityBroken</name>
                <value>
                    <elementReference>maxSeverity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minimumPercentage</name>
                <value>
                    <numberValue>60.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>offersRequireApproval</name>
                <value>
                    <elementReference>offersRequireApproval</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showDistance</name>
                <value>
                    <elementReference>showDistance</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideApplyToast</name>
                <value>
                    <elementReference>hideApplyToast</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>preferencesScreen</name>
        <label>Preferences Screen</label>
        <locationX>1370</locationX>
        <locationY>1406</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assignPreferenceMainVariables</targetReference>
        </connector>
        <fields>
            <name>preferencesScreenTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Select Preferences&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>maximumDistanceOverrideSlider</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Maximum Distance Override ({!$Setup.sirenum__Candidate_Search_Settings__c.sirenum__Distance_Units__c})</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>maximumDistanceOverrideTemp</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>jobTypePicklist</name>
            <choiceReferences>AllJobTypes</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>selectedJobTypeTemp</elementReference>
            </defaultValue>
            <fieldText>Job Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Show Me</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to allow input of sorting Parameters</description>
        <name>sortScreen</name>
        <label>Sort Screen</label>
        <locationX>1634</locationX>
        <locationY>1298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignIsAscending</targetReference>
        </connector>
        <fields>
            <name>sortScreenTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Sort&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SortOrder</name>
            <choiceReferences>ascendingChoice</choiceReferences>
            <choiceReferences>descendingChoice</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>isAscending</elementReference>
            </defaultValue>
            <fieldText>Sort Order</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>sortByScreen</name>
            <extensionName>sirenum:findWorkSortBy</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sortBy</name>
                <value>
                    <elementReference>sortBy</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldSetName</name>
                <value>
                    <stringValue>ils_find_work_fields</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sortFields</name>
                <value>
                    <elementReference>sortFieldsAlphabetically</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeRelevance</name>
                <value>
                    <elementReference>includeRelevance</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeShortlist</name>
                <value>
                    <elementReference>includeShortlist</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeDistance</name>
                <value>
                    <elementReference>includeDistance</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>sortBy</assignToReference>
                <name>sortBy</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Apply</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <sourceTemplate>sirenum__FindWorkForWorker</sourceTemplate>
    <start>
        <locationX>914</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getNearbySiteIDs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>buttonResourceDates</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Dates</stringValue>
        </value>
    </variables>
    <variables>
        <name>buttonResourceFilter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Filter</stringValue>
        </value>
    </variables>
    <variables>
        <name>buttonResourcePreferences</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Preferences</stringValue>
        </value>
    </variables>
    <variables>
        <name>buttonResourceRefresh</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>refresh</stringValue>
        </value>
    </variables>
    <variables>
        <name>buttonResourceSort</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Sort</stringValue>
        </value>
    </variables>
    <variables>
        <description>The Value of the resource button used to determine which screen to display</description>
        <name>buttonResourceValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Dates</stringValue>
        </value>
    </variables>
    <variables>
        <description>The current date for the loop</description>
        <name>currentIteratorDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <description>A text filter for free text</description>
        <name>freeTextFilter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>generalError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.FaultMessage</elementReference>
        </value>
    </variables>
    <variables>
        <description>Specifies whether toasts need to be displayed when a new job offer is generated. Can be used as an input.</description>
        <name>hideApplyToast</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>highestSeverityBroken</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Medium</stringValue>
        </value>
    </variables>
    <variables>
        <description>determines if the sort screen shows &apos;distance&apos; as an option.</description>
        <name>includeDistance</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>determines if the sort screen shows &apos;relevance&apos; as an option.</description>
        <name>includeRelevance</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>determines if the sort screen shows &apos;shortlist&apos; as an option.</description>
        <name>includeShortlist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>If true, the results are sorted in ascending order, otherwise descending order.</description>
        <name>isAscending</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>The Resource for the maximum distance override</description>
        <name>maximumDistanceOverride</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>100.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>maximumDistanceOverrideTemp</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>A collection of IDs for sites nearest to the contact</description>
        <name>nearbySiteIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The number of days from the start date for input</description>
        <name>numberOfDays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>The Number of Days counter</description>
        <name>numberOfDaysCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>numberOfDaysTemp</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Specifies the default value of the Approval Required field of any job offers generated. Can be used as an input.</description>
        <name>offersRequireApproval</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>queriedShiftsForIteration</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sirenum__Shift__c</objectType>
    </variables>
    <variables>
        <description>The recordId for the contact</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.ContactId</elementReference>
        </value>
    </variables>
    <variables>
        <description>The title given to each screen, allowing for css to be added to centre the text</description>
        <name>screenTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;div style=&quot;width:100%;text-align: center; display: block;&quot;&gt;Find Work&lt;div&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <description>The currently selected job type</description>
        <name>selectedJobType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedJobTypeTemp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>A collection of shift Ids where the contact already has an active job offer</description>
        <name>shiftIdsWithExcludedJobOffersForContact</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>A shortlist of shift IDs</description>
        <name>shortlistIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>A Temp Sort By Param used by the sort screen</description>
        <name>sortBy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Does the sort screen show the options in alphabetical order.</description>
        <name>sortFieldsAlphabetically</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>The start date for input</description>
        <name>startDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>startDateTemp</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
</Flow>
