tbcuat_compare/force-app/main/default/flows/X1218RateCardPageAfterInsertAutomation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>1218 Rate Card Page After Insert Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218 Rate Card Page After Insert Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateContractRateCardPages</name>
        <label>Create Contract Rate Card Pages</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <inputReference>varContractRateCardPagesList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetContracts</name>
        <label>Get Contracts</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>varContractRateCardPagesList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Rate_Card__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sirenum__Rate_Card__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__ProActiveContract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetContracts</targetReference>
        </connector>
        <object>sirenum__Rate_Card_Page__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <transforms>
        <name>varContractRateCardPagesList</name>
        <label>varContractRateCardPagesList</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>CreateContractRateCardPages</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>ContractRateCardPage__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Contract__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GetContracts[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>RateCardPage__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
</Flow>
