tbcuat_compare/force-app/main/default/flows/X1218ShiftAfterUpdateAutomation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>SetExpenseFields</name>
        <label>Set Expense Fields</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>LoopExpenses.sirenum__Timesheet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.sirenum__Timesheet_summaries__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varExpensesList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopExpenses</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopExpenses</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>TimesheetIdNotNullDecision</name>
        <label>Timesheet Id Not Null Decision</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TimesheetIdNotNul</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Timesheet_summaries__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sirenum__Timesheet_summaries__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetExpenses</targetReference>
            </connector>
            <label>Timesheet Id Not Nul</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>1218 Shift After Update Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218 Shift After Update Automation</label>
    <loops>
        <name>LoopExpenses</name>
        <label>Loop Expenses</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>GetExpenses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetExpenseFields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateExpenses</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetExpenses</name>
        <label>Get Expenses</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopExpenses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Shift__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__Expense__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateExpenses</name>
        <label>Update Expenses</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <inputReference>varExpensesList</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>TimesheetIdNotNullDecision</targetReference>
        </connector>
        <object>sirenum__Shift__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varExpensesList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sirenum__Expense__c</objectType>
    </variables>
</Flow>
