tbcuat_compare/force-app/main/default/flows/X1218_BUTTON_Lead_Conversion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>navigate_JobLead</name>
        <label>navigate_JobLead</label>
        <locationX>864</locationX>
        <locationY>3446</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Delete_Job_Lead</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationName</name>
            <value>
                <stringValue>TR1__Job_Leads__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>Create_Job_Lead</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Final_Account_Id</name>
        <label>Assign Final Account Id</label>
        <locationX>952</locationX>
        <locationY>2414</locationY>
        <assignmentItems>
            <assignToReference>var_FinalAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Client</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Contact_Required</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Final_Contact_Id</name>
        <label>Assign Final Contact Id</label>
        <locationX>952</locationX>
        <locationY>2930</locationY>
        <assignmentItems>
            <assignToReference>var_FinalContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Job_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Final_Assignments</name>
        <label>Final Assignments</label>
        <locationX>864</locationX>
        <locationY>3230</locationY>
        <assignmentItems>
            <assignToReference>getLead.JobLeadId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Job_Lead</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getLead.AccountId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_FinalAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getLead.ContactId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_FinalContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getLead.IsConverted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getLead.Lead_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Converted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setAssignments</name>
        <label>setAssignments</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>boolean_ContactDupeSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_FinalContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_SelectContact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getDupeAccounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setAssignments1</name>
        <label>setAssignments</label>
        <locationX>578</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>boolean_AccountDupeSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_FinalAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_SelectAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Account_Required</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Selected</name>
        <label>Account Selected?</label>
        <locationX>710</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>New_Account_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_SelectAccount.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setAssignments1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Accounts_Found</name>
        <label>Accounts Found?</label>
        <locationX>864</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>New_Account_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getDupeAccounts</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Existing_Acc</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>All_Required_Fields_Populated</name>
        <label>All Required Fields Populated?</label>
        <locationX>319</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>GetPlanCodeId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No3</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getLead.Company_Registration_Type__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>getLead.Primary_Industry__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>getLead.Address__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>getLead.Title__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>getLead.First_Name__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>getLead.Last_Name__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>getLead.Job_Name__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>getLead.Job_Type__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>screen_RequiredFieldsMissing</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Selected</name>
        <label>Contact Selected?</label>
        <locationX>710</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>getDupeAccounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_SelectContact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setAssignments</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contacts_Found</name>
        <label>Contacts Found?</label>
        <locationX>864</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>getDupeAccounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getPossibleDuplicateContacts</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Existing_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_already_Converted</name>
        <label>Is it already Converted?</label>
        <locationX>589</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Confirmation_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getLead.IsConverted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_Proceed_2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Account_Required</name>
        <label>New Account Required?</label>
        <locationX>864</locationX>
        <locationY>2198</locationY>
        <defaultConnector>
            <targetReference>Create_Client</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>boolean_AccountDupeSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Contact_Required</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Contact_Required</name>
        <label>New Contact Required?</label>
        <locationX>864</locationX>
        <locationY>2606</locationY>
        <defaultConnector>
            <targetReference>getClienContactRT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>boolean_ContactDupeSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Job_Lead</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>was_existing_Account</name>
        <label>was existing Account?</label>
        <locationX>1832</locationX>
        <locationY>3854</locationY>
        <defaultConnector>
            <targetReference>Delete_Site</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existing_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>boolean_AccountDupeSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>error_screen</targetReference>
            </connector>
            <label>Existing account</label>
        </rules>
    </decisions>
    <decisions>
        <name>was_existing_contact</name>
        <label>was existing contact?</label>
        <locationX>1832</locationX>
        <locationY>3554</locationY>
        <defaultConnector>
            <targetReference>Delete_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>existing_contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>boolean_ContactDupeSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>was_existing_Account</targetReference>
            </connector>
            <label>existing contact</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>1218 - BUTTON - Lead Conversion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218 - BUTTON - Lead Conversion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Client</name>
        <label>Create Client</label>
        <locationX>952</locationX>
        <locationY>2306</locationY>
        <connector>
            <targetReference>Assign_Final_Account_Id</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Delete_Account</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountSource</field>
            <value>
                <elementReference>getLead.Lead_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agency_User__c</field>
            <value>
                <elementReference>getLead.Agency_User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Annual_Spend_on_Temps__c</field>
            <value>
                <elementReference>getLead.Annual_Spend_on_Temps__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Average_Number_of_Temps__c</field>
            <value>
                <elementReference>getLead.Average_Number_of_Temps__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Call_Frequency__c</field>
            <value>
                <elementReference>getLead.Call_Frequency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Registration_Number__c</field>
            <value>
                <elementReference>getLead.Company_Registration_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Registration_Type__c</field>
            <value>
                <elementReference>getLead.Company_Registration_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Temp_Supplier_s__c</field>
            <value>
                <elementReference>getLead.Current_Temp_Supplier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>getLead.Company_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry</field>
            <value>
                <elementReference>getLead.Primary_Industry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>getLead.Company__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Sites__c</field>
            <value>
                <elementReference>getLead.Number_of_Sites__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getLead.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Peak_Periods__c</field>
            <value>
                <elementReference>getLead.Peak_Periods__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Peak_Usage__c</field>
            <value>
                <elementReference>getLead.Peak_Usage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plan_Code__c</field>
            <value>
                <elementReference>var_PlanCodeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <elementReference>getLead.Rating__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_s_for_Temp_Use__c</field>
            <value>
                <elementReference>getLead.Reasons_for_Temp_Use__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>getLead.Address__City__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountryCode</field>
            <value>
                <elementReference>getLead.Address__CountryCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>getLead.Address__PostalCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStateCode</field>
            <value>
                <elementReference>getLead.Address__StateCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>getLead.Address__Street__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Status__c</field>
            <value>
                <stringValue>Credit Check</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website</field>
            <value>
                <elementReference>getLead.Website__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>952</locationX>
        <locationY>2822</locationY>
        <connector>
            <targetReference>Assign_Final_Contact_Id</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>was_existing_Account</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>var_FinalAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>getLead.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>getLead.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasOptedOutOfEmail</field>
            <value>
                <elementReference>getLead.Email_Opt_Out__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>getLead.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>getLead.Mobile__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>getLead.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>getLead.Title__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Job_Lead</name>
        <label>Create Job Lead</label>
        <locationX>864</locationX>
        <locationY>3122</locationY>
        <connector>
            <targetReference>Final_Assignments</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>was_existing_contact</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>TBC_Projected_Headcount__c</field>
            <value>
                <elementReference>getLead.of_Temps_Required__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Account__c</field>
            <value>
                <elementReference>var_FinalAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Contact__c</field>
            <value>
                <elementReference>var_FinalContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Job__c</field>
            <value>
                <elementReference>getLead.Job_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Lead_Source__c</field>
            <value>
                <elementReference>getLead.Lead_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Type__c</field>
            <value>
                <elementReference>getLead.Job_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>TR1__Job_Leads__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Account</name>
        <label>Delete Account</label>
        <locationX>1920</locationX>
        <locationY>4070</locationY>
        <connector>
            <targetReference>error_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Client</elementReference>
            </value>
        </filters>
        <object>Account</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Job_Lead</name>
        <label>Delete Job Lead</label>
        <locationX>1832</locationX>
        <locationY>3446</locationY>
        <connector>
            <targetReference>was_existing_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Job_Lead</elementReference>
            </value>
        </filters>
        <object>TR1__Job_Leads__c</object>
    </recordDeletes>
    <recordDeletes>
        <description>As the site record gets automatically created in the background, these need to be deleted if the process fails.</description>
        <name>Delete_Site</name>
        <label>Delete Site</label>
        <locationX>1920</locationX>
        <locationY>3962</locationY>
        <connector>
            <targetReference>Delete_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Operating_Company__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Client</elementReference>
            </value>
        </filters>
        <object>sirenum__Site__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Delete_Contact</name>
        <label>Delete Contact</label>
        <locationX>1920</locationX>
        <locationY>3662</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>was_existing_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Contact</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getClienContactRT</name>
        <label>getClienContactRT</label>
        <locationX>952</locationX>
        <locationY>2714</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getDupeAccounts</name>
        <label>getDupeAccounts</label>
        <locationX>864</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Accounts_Found</targetReference>
        </connector>
        <filterLogic>1 OR (2 AND 3) OR (4 AND 5)</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getLead.Company__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ShippingPostalCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getLead.Address__PostalCode__s</elementReference>
            </value>
        </filters>
        <filters>
            <field>ShippingPostalCode</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Company_Registration_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getLead.Company_Registration_Number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Company_Registration_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getLead</name>
        <label>getLead</label>
        <locationX>319</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>All_Required_Fields_Populated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPlanCodeId</name>
        <label>GetPlanCodeId</label>
        <locationX>589</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_it_already_Converted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getLead.Plan_Code__r.Name</elementReference>
            </value>
        </filters>
        <object>Picklist_Library__c</object>
        <outputAssignments>
            <assignToReference>var_PlanCodeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getPossibleDuplicateContacts</name>
        <label>getPossibleDuplicateContacts</label>
        <locationX>864</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contacts_Found</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 3) OR (3 AND 4)</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getLead.First_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getLead.Last_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getLead.Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>864</locationX>
        <locationY>3338</locationY>
        <connector>
            <targetReference>navigate_JobLead</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Delete_Job_Lead</targetReference>
        </faultConnector>
        <inputReference>getLead</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_2</name>
        <label>Bypass Validation True</label>
        <locationX>864</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>getPossibleDuplicateContacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getLead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bypass_Validation_Rules__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Cannot_Proceed_2</name>
        <label>Cannot Proceed 2</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_cannotProceed_TEXT</name>
            <fieldText>&lt;p&gt;This lead has already been converted.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>864</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Update_Records_2</targetReference>
        </connector>
        <fields>
            <name>Confirmation_Screen_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Are you sure you wish to proceed? Please note this action cannot be undone.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>error_screen</name>
        <label>error_screen</label>
        <locationX>1832</locationX>
        <locationY>4262</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error_text_1</name>
            <fieldText>&lt;p&gt;Error: {!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_RequiredFieldsMissing</name>
        <label>screen_RequiredFieldsMissing</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>text_reqFieldsMissing</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;One or more of the following required fields is missing to qualify this lead, please review and populate the missing fields and try again:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;First Name&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Last Name&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Title&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Job Title&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Job Type&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Booking Address&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Company Registration Type&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Company Registration Number (depending on Company Registration Type)&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Primary Industry&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Existing_Acc</name>
        <label>Select Existing Acc</label>
        <locationX>710</locationX>
        <locationY>1706</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Account_Selected</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_headerText1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Records with this Name or Postcode or Company Registration Number already exist in the system. Select an existing record if it matches the company, or proceed without selecting to create a new Client.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_dataTable_ExistingContacts</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>getDupeAccounts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-d253&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Company_Registration_Number__c&quot;,&quot;guid&quot;:&quot;column-d37f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Company Registration Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ShippingPostalCode&quot;,&quot;guid&quot;:&quot;column-a78f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Booking Zip/Postal Code&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_SelectAccount</assignToReference>
                <name>firstSelectedRow</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Existing_Contact</name>
        <label>Select Existing Contact</label>
        <locationX>710</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Contact_Selected</targetReference>
        </connector>
        <fields>
            <name>headerText1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Records with this Name or Email already exist in the system. Select an existing record if it matches the person, or proceed without selecting to create a new record.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dataTable_ExistingContacts</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>getPossibleDuplicateContacts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;FirstName&quot;,&quot;guid&quot;:&quot;column-21f9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;First Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;LastName&quot;,&quot;guid&quot;:&quot;column-3e33&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Last Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Email&quot;,&quot;guid&quot;:&quot;column-df0c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;email&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_SelectContact</assignToReference>
                <name>firstSelectedRow</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>193</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getLead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>boolean_AccountDupeSelected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>boolean_ContactDupeSelected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_FinalAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_FinalContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_PlanCodeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SelectAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>var_SelectContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
