tbcuat_compare/force-app/main/default/flows/X1218TimesheetLineAfterInsertAutomation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>PlacementNotNullDecision</name>
        <label>Placement Not Null Decision</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PlacementNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Shift__r.sirenum__Placement__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sirenum__Timesheet__r.Placement__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateTimesheet</targetReference>
            </connector>
            <label>Placement Not Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>1218 Timesheet Line After Insert Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218 Timesheet Line After Insert Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateTimesheet</name>
        <label>Update Timesheet</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sirenum__Timesheet__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Placement__c</field>
            <value>
                <elementReference>$Record.sirenum__Shift__r.sirenum__Placement__c</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__Timesheet__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PlacementNotNullDecision</targetReference>
        </connector>
        <object>sirenum__Timesheet_Line__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
