tbcuat_compare/force-app/main/default/flows/X1218_Validate_on_Payroll_Cylcle_change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>displayError</name>
        <label>displayError</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Contract&apos;s Payroll Cycle cannot be changed because the contract is associated with at least one exported timesheet.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_if_Exported_Timesheets_exist</name>
        <label>Check if Exported Timesheets exist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>hasExportedTimesheets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTImesheetsSentToinTime.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>displayError</targetReference>
            </connector>
            <label>hasExportedTimesheets</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>1218 Validate on Payroll Cylcle change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218 Validate on Payroll Cylcle change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getTImesheetsSentToinTime</name>
        <label>getTImesheetsSentToinTime</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Exported_Timesheets_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InTimeId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__Timesheet__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getTImesheetsSentToinTime</targetReference>
        </connector>
        <filterFormula>IsChanged({!$Record.sirenum__PayrollCycle__c})</filterFormula>
        <object>sirenum__ProActiveContract__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
