tbcuat_compare/force-app/main/default/flows/X1218_Generate_Job_Lead_Quotes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_and_send_email</name>
        <label>Generate and send email</label>
        <locationX>930</locationX>
        <locationY>1274</locationY>
        <actionName>QuoteGeneratorFromJobLeads</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>jobLeadIds</name>
            <value>
                <elementReference>jobLeadIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>QuoteGeneratorFromJobLeads</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignJLs</name>
        <label>AssignJLs</label>
        <locationX>1150</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>jl_record_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopJLS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopJLS.Quote_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobLeadIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopJLS.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Missing_Email</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Missing_Email</name>
        <label>Is Missing Email?</label>
        <locationX>1150</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>LoopJLS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopJLS.TR1__Contact__r.Email</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Missing_Email_Error</targetReference>
            </connector>
            <label>Email Missing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Records_Found</name>
        <label>Records Found?</label>
        <locationX>490</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Job_Lead_Selection_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Job_Leads</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getJobLeads</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Job_Leads1</targetReference>
            </connector>
            <label>No Job Leads</label>
        </rules>
        <rules>
            <name>Credit_Check_Missing</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getAccountId.Credit_Check__r.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Verified Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAccountId.Credit_Check__r.Expired__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAccountId.Credit_Check__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Credit_Check_Missing1</targetReference>
            </connector>
            <label>Credit Check Missing</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>1218 - Generate Job Lead Quotes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218 - Generate Job Lead Quotes</label>
    <loops>
        <name>LoopJLS</name>
        <label>LoopJLS</label>
        <locationX>930</locationX>
        <locationY>566</locationY>
        <collectionReference>collectionJobLeads</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignJLs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Generate_and_send_email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getAccountId</name>
        <label>getAccountId</label>
        <locationX>490</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getJobLeads</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getJobLeads</name>
        <label>getJobLeads</label>
        <locationX>490</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Records_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TR1__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccountId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TR1__Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pricing Quote</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TR1__Job_Leads__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Credit_Check_Missing1</name>
        <label>Credit Check Missing</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_NoJobLeadsFound1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;This client does not have a completed credit check. Please request a credit check.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1194</locationX>
        <locationY>1382</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>text_error</name>
            <fieldText>&lt;p&gt;Error: {!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Job_Lead_Selection_Screen</name>
        <label>Job Lead Selection Screen</label>
        <locationX>930</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>LoopJLS</targetReference>
        </connector>
        <fields>
            <name>JobLeadsDataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>TR1__Job_Leads__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>TR1__Job_Leads__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Job Leads</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showSelectedCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showSelectedCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>getJobLeads</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>TR1__Job__c,TR1__Type__c,Bill_Rate__c,TR1__Stage__c,Quote_Sent__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>TR1__Job__c:325, TR1__Type__c:150, Bill_Rate__c:120, TR1__Stage__c:140, Quote_Sent__c:140</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:job_profile</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPagination</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showPagination</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>collectionJobLeads</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Send Quote</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Missing_Email_Error</name>
        <label>Missing Email Error</label>
        <locationX>1018</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>JobLeadMissingContactEmail</name>
            <fieldText>&lt;p&gt;One of the Job Leads to be quoted for has a contact without an email address.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!LoopJLS.Name} does not have a valid contact to email the quote to.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;please check the email address for the related contact&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Job_Leads1</name>
        <label>No Job Leads</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoJobLeadsFound</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;There are no applicable job leads for this client.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>364</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAccountId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>tableRowJLs</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;tr&gt;
&lt;td style=&quot;border: 1px solid black&quot;&gt;{!LoopJLS.TR1__Job__c}&lt;/a&gt;&lt;/td&gt;
&lt;td style=&quot;border: 1px solid black&quot;&gt;{!LoopJLS.TR1__Type__c}&lt;/a&gt;&lt;/td&gt;
&lt;td style=&quot;border: 1px solid black&quot;&gt; £{!LoopJLS.Bill_Rate__c}&lt;/a&gt;&lt;/td&gt;
&lt;/tr&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>templateBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Placeholder text for above table.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!tableJLs}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Placeholder text for below table.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Kind regards,&lt;/p&gt;&lt;p&gt;TBC Team&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>collectionJobLeads</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>TR1__Job_Leads__c</objectType>
    </variables>
    <variables>
        <name>jl_record_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TR1__Job_Leads__c</objectType>
    </variables>
    <variables>
        <name>jobLeadIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tableJLs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;table style=&quot;width:100%; border: 1px solid black;&quot;&gt;  &lt;tr&gt; &lt;th style=&quot;border: 1px solid black; width:85px&quot;&gt;Job Name&lt;/th&gt; &lt;th style=&quot;border: 1px solid black; width:85px&quot;&gt;Type&lt;/th&gt; &lt;th style=&quot;border: 1px solid black; width:85px&quot;&gt;Bill Rate&lt;/th&gt;&lt;/tr&gt;</stringValue>
        </value>
    </variables>
</Flow>
