tbcuat_compare/force-app/main/default/flows/x1218_Chat_Notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Inbound_Chat_Notification</name>
        <label>Inbound Chat Notification</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_custom_notification_record_ID.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>BuildActiveRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Please note that you have received a chat message.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>OutboundNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.b3o__Contact__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Outbound_Chat_Notification</name>
        <label>Send Outbound Chat Notification</label>
        <locationX>1106</locationX>
        <locationY>971</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_custom_notification_record_ID.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OutboundRecipientIDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>You have received a chat message.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Hi! You have received a chat message from The Best Connection, visit the Chat Screen to view your message! </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetPageRef</name>
            <value>
                <elementReference>Target</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Outbound_Recipient</name>
        <label>Add Outbound Recipient</label>
        <locationX>1172</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>OutboundRecipientIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Recipient_Contact_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Registered_User_or_Not</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Candidate_or_Client</name>
        <label>Candidate or Client</label>
        <locationX>974</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Send_Outbound_Chat_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Client</defaultConnectorLabel>
        <rules>
            <name>Candidate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.b3o__Contact__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Candidate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Push_Notification_for_PortalApp</targetReference>
            </connector>
            <label>Candidate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_group_members</name>
        <label>Has group members?</label>
        <locationX>380</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Group_Members</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetGroupMemberIds</targetReference>
            </connector>
            <label>Yes Has Members</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inbound_or_Outbound</name>
        <label>Inbound or Outbound</label>
        <locationX>776</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_Recipient_Contact_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Outbound</defaultConnectorLabel>
        <rules>
            <name>Inbound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.b3o__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inbound</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Public_Group</targetReference>
            </connector>
            <label>Inbound</label>
        </rules>
    </decisions>
    <decisions>
        <name>Recipients</name>
        <label>Recipients?</label>
        <locationX>182</locationX>
        <locationY>1187</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BuildActiveRecipients</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BuildActiveRecipients</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inbound_Chat_Notification</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Registered_User_or_Not</name>
        <label>Registered User or Not</label>
        <locationX>1172</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>User_Not_Registered_Yet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Portal</defaultConnectorLabel>
        <rules>
            <name>Registered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OutboundRecipientIDs</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Candidate_or_Client</targetReference>
            </connector>
            <label>Registered</label>
        </rules>
    </decisions>
    <description>Updates to notifications -  for Onboarding Portal</description>
    <environments>Default</environments>
    <formulas>
        <name>OutboundNotificationBody</name>
        <dataType>String</dataType>
        <expression>&apos;Please note that you have received a Chat message from one of your workers or clients. Please click this notification to be taken to their record or review the Chat Report&apos;</expression>
    </formulas>
    <formulas>
        <name>siteURL_CustomSetting</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Site_URLs__c.Client_Portal_Site_Homepage_URL__c}</expression>
    </formulas>
    <interviewLabel>x1q218 - Chat Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>x1218 - Chat Notifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Push_Notification_for_PortalApp</name>
        <label>Create Push Notification for Portal/App</label>
        <locationX>842</locationX>
        <locationY>971</locationY>
        <inputAssignments>
            <field>sirenum__ExtraParameters__c</field>
            <value>
                <elementReference>chat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Message__c</field>
            <value>
                <stringValue>You have received a new chat message from The Best Connection!</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Title__c</field>
            <value>
                <stringValue>Chat Notification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__WhoId__c</field>
            <value>
                <elementReference>Get_Recipient_Contact_User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__PushNotificationEvent__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>User_Not_Registered_Yet</name>
        <label>User Not Registered Yet</label>
        <locationX>1370</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>sirenum__ExtraParameters__c</field>
            <value>
                <elementReference>chat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Message__c</field>
            <value>
                <stringValue>You have received a new chat message from The Best Connection!</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Title__c</field>
            <value>
                <stringValue>Chat Notification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__WhoId__c</field>
            <value>
                <elementReference>$Record.b3o__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__PushNotificationEvent__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_custom_notification_record_ID</name>
        <label>Get_custom_notification_record_ID</label>
        <locationX>776</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inbound_or_Outbound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Chat_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Members</name>
        <label>Get Group Members</label>
        <locationX>380</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_group_members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Public_Group.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Public_Group</name>
        <label>Get Public Group</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Group_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.b3o__Contact__r.Plan_Code__r.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Recipient_Contact_User</name>
        <label>Get Recipient Contact User</label>
        <locationX>1172</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Outbound_Recipient</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.b3o__Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetActiveUserRecords</name>
        <label>GetActiveUserRecords</label>
        <locationX>182</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BuildActiveRecipients</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>SetGroupMemberIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_custom_notification_record_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>b3o__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </filters>
        <object>b3o__Chat_Message__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Target</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{    
    &quot;type&quot;: &quot;standard__webPage&quot;,
    &quot;attributes&quot;: {
        &quot;url&quot;: &quot;{!siteURL_CustomSetting}&quot;  
    }
}</text>
    </textTemplates>
    <transforms>
        <name>BuildActiveRecipients</name>
        <label>BuildActiveRecipients</label>
        <locationX>182</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Recipients</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GetActiveUserRecords[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>SetGroupMemberIds</name>
        <label>SetGroupMemberIds</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>GetActiveUserRecords</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Group_Members[$EachItem].UserOrGroupId</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>chat</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{   &quot;page&quot;: &quot;/s/chat&quot; }</stringValue>
        </value>
    </variables>
    <variables>
        <name>OutboundRecipientIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
