tbcuat_compare/force-app/main/default/flows/X1218_Account_Scheduled_set_upcoming_shifts_flag.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>set_active_shifts</name>
        <label>set active shifts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>hasActiveShifts</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateClientActiveShiftsFlag</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Active_Shifts</name>
        <label>Found Active Shifts?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>updateClientActiveShiftsFlag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Shifts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetActiveShifts</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_active_shifts</targetReference>
            </connector>
            <label>Found Shifts</label>
        </rules>
    </decisions>
    <description>This flow sets a flag every day on Client accounts that are onboarded and have any shifts in the future or within the past 21 days</description>
    <environments>Default</environments>
    <formulas>
        <description>This takes the related credit check record from the account and gets the expiry date -21 days.</description>
        <name>CreditCheckSoftExpiryDate</name>
        <dataType>Date</dataType>
        <expression>IF(OR(ISNULL({!$Record.Credit_Check__c}), ISBLANK({!$Record.Credit_Check__r.Expired_On__c}) ), 
{!$Flow.CurrentDate}-21 ,
IF({!$Record.Credit_Check__r.Expired_On__c} &gt; {!$Flow.CurrentDate}, {!$Flow.CurrentDate}, {!$Record.Credit_Check__r.Expired_On__c}) -21)</expression>
    </formulas>
    <formulas>
        <name>past21DaysDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-21</expression>
    </formulas>
    <interviewLabel>1218 - Account - Scheduled set upcoming shifts flag. {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218 - Account - Scheduled set upcoming shifts flag.</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>This node gets recent or future shifts that are active for credit check purposes, this is defined as within the past 21 days or further in the future.</description>
        <name>GetActiveShifts</name>
        <label>GetActiveShifts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Active_Shifts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>s5m__BH4SFJob__c</field>
            <operator>In</operator>
            <value>
                <elementReference>CreateJobIdSet</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Shift_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>past21DaysDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__Shift__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetJobs</name>
        <label>GetJobs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateJobIdSet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TR1__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TR1__Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateClientActiveShiftsFlag</name>
        <label>updateClientActiveShiftsFlag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Has_Active_Shifts__c</field>
            <value>
                <elementReference>hasActiveShifts</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetJobs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TR1__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Onboarded</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-07-09</startDate>
            <startTime>01:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <transforms>
        <name>CreateJobIdSet</name>
        <label>CreateJobIdSet</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetActiveShifts</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GetJobs[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <description>variable to be set if active shifts found.</description>
        <name>hasActiveShifts</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
