tbcuat_compare/force-app/main/default/flows/X1218_Send_Client_Agreement_WFM_Contract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Send_Email_Action_1</name>
        <label>Send Email to Client 1</label>
        <locationX>578</locationX>
        <locationY>1382</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Sent_Date2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>var_TemplateId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentId</name>
            <value>
                <elementReference>get_ContentVersion.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <stringValue>{!Get_WFM_Contract.sirenum__Account_Manager__r.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Get_WFM_Contract.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Client_Agreement_available</name>
        <label>Client Agreement available?</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Get_Email_Template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No or Re-Opened</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Client_Agreement_related_to_WFM_Contract</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_WFM_Contract.Re_Opened__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Older_than_6_months</targetReference>
            </connector>
            <label>Yes &amp; Not Re-Opened</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if the c</description>
        <name>Contract_Manager_invalid</name>
        <label>Contract Manager invalid?</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Find_Client_Agreement_related_to_WFM_Contract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invalid_client_contract_manager</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_WFM_Contract.sirenum__Account_Manager__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_WFM_Contract.sirenum__Account_Manager__r.Email</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_send_client_agreement_without_valid_contact</targetReference>
            </connector>
            <label>Invalid client contract manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>Older_than_6_months</name>
        <label>Older than 6 months</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>NoClientAgreement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Client_Agreement_related_to_WFM_Contract.Last_requested_more_than_6_months__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Email_Template</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Re-open access</description>
    <environments>Default</environments>
    <interviewLabel>1218 Send Client Agreement (WFM Contract) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218 Send Client Agreement (WFM Contract)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_Email_Template</name>
        <label>Get Email Template</label>
        <locationX>578</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Attachment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client_Agreement</stringValue>
            </value>
        </filters>
        <object>EmailTemplate</object>
        <outputAssignments>
            <assignToReference>var_TemplateId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Client_Agreement_related_to_WFM_Contract</name>
        <label>Find Client Agreement related to WFM Contract</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Client_Agreement_available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Template_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client Agreement Form</stringValue>
            </value>
        </filters>
        <filters>
            <field>WFM_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>b3d__Document_Trace__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Attachment</name>
        <label>Get Attachment</label>
        <locationX>578</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_ContentVersion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Title</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>016 Terms of Business TOB Temps</stringValue>
            </value>
        </filters>
        <object>ContentDocument</object>
        <outputAssignments>
            <assignToReference>varAttachmentID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_ContentVersion</name>
        <label>get ContentVersion</label>
        <locationX>578</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Send_Email_Action_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAttachmentID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WFM_Contract</name>
        <label>Get WFM Contract</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contract_Manager_invalid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__ProActiveContract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Approval</name>
        <label>Update Approval</label>
        <locationX>578</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>SucessMessage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_WFM_Contract.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approved__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>sirenum__ProActiveContract__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sent_Date2</name>
        <label>Update Sent Date</label>
        <locationX>578</locationX>
        <locationY>1490</locationY>
        <connector>
            <targetReference>Update_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_WFM_Contract.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approved__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Agreement_Sent_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Re_Opened__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>sirenum__ProActiveContract__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Cannot_send_client_agreement_without_valid_contact</name>
        <label>Cannot send client agreement without valid contact</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CannotSendEmailError</name>
            <fieldText>&lt;p&gt;The related contact to send this Client Agreement to is invalid, please make sure a valid contact is linked to the WFM Contract in the Client Contract Manager field, they must have a valid email address to be able to send the agreement.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoClientAgreement</name>
        <label>NoClientAgreement</label>
        <locationX>490</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoCOTBSent</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;No Client Agreement sent as there is an existing one in the system.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SucessMessage</name>
        <label>SucessMessage</label>
        <locationX>578</locationX>
        <locationY>1706</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessM</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Client Agreement has been sent.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_WFM_Contract</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_TemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAttachmentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
