tbcuat_compare/force-app/main/default/flows/X1218_Set_PO_Number_on_Shift_from_Job.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>The order of the decision outcomes is important as this defines the priority of the location to set the PO Number from</description>
        <name>Which_record_has_PO_Number_to_pull_from</name>
        <label>Which record has PO Number to pull from.</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Job_has_PO_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.s5m__BH4SFJob__r.Job_PO_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetPONumberOnShiftFromJob</targetReference>
            </connector>
            <label>Job has PO Number</label>
        </rules>
        <rules>
            <name>Contract_has_PO_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.s5m__BH4SFJob__r.s5m__Contract__r.sirenum__PO_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetPONumberOnShiftFromContract</targetReference>
            </connector>
            <label>Contract has PO Number</label>
        </rules>
        <rules>
            <name>Client_has_PO_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.s5m__BH4SFJob__r.s5m__Contract__r.sirenum__Client__r.Default_Order_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetPONumberOnShiftFromClient</targetReference>
            </connector>
            <label>Client has PO Number</label>
        </rules>
    </decisions>
    <description>Updates to pull the PO Number from the associated records above the shift, Job, Contract or Client.</description>
    <environments>Default</environments>
    <interviewLabel>1218 - Set PO Number on Shift from Job {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218 - Set PO Number on Shift from Job</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>SetPONumberOnShiftFromClient</name>
        <label>SetPONumberOnShiftFromClient</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>PO_Number__c</field>
            <value>
                <elementReference>$Record.s5m__BH4SFJob__r.s5m__Contract__r.sirenum__Client__r.Default_Order_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SetPONumberOnShiftFromContract</name>
        <label>SetPONumberOnShiftFromContract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>PO_Number__c</field>
            <value>
                <elementReference>$Record.s5m__BH4SFJob__r.s5m__Contract__r.sirenum__PO_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SetPONumberOnShiftFromJob</name>
        <label>SetPONumberOnShiftFromJob</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>PO_Number__c</field>
            <value>
                <elementReference>$Record.s5m__BH4SFJob__r.Job_PO_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Which_record_has_PO_Number_to_pull_from</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PO_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>sirenum__Shift__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
