tbcuat_compare/force-app/main/default/flows/X1218ContractAfterInsertUpdateAutomation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>ContractRateCardPageExistsDecision</name>
        <label>Contract Rate Card Page Exists Decision</label>
        <locationX>182</locationX>
        <locationY>1271</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ContractRateCardPageExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContractRateCardPages</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteContractRateCardPages</targetReference>
            </connector>
            <label>Contract Rate Card Page Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>RateCardNotNullDecision</name>
        <label>Rate Card Not Null Decision</label>
        <locationX>336</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>RateCardSetToNullDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RateCardNotNull</name>
            <conditionLogic>1 AND (2 OR (3 AND 4))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Rate_Card__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sirenum__Rate_Card__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRateCardPages</targetReference>
            </connector>
            <label>Rate Card Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>RateCardSetToNullDecision</name>
        <label>Rate Card Set To Null Decision</label>
        <locationX>336</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RateCardSetToNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sirenum__Rate_Card__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.sirenum__Rate_Card__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRateCardPagesForDeletion</targetReference>
            </connector>
            <label>Rate Card Set To Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>1218 Contract After Insert Update Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218 Contract After Insert Update Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateContractRateCardPages</name>
        <label>Create Contract Rate Card Pages</label>
        <locationX>204</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>RateCardSetToNullDecision</targetReference>
        </connector>
        <inputReference>ContractRateCardPagesList</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>DeleteContractRateCardPages</name>
        <label>Delete Contract Rate Card Pages</label>
        <locationX>50</locationX>
        <locationY>1379</locationY>
        <inputReference>GetContractRateCardPages</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GetContractRateCardPages</name>
        <label>Get Contract Rate Card Pages</label>
        <locationX>182</locationX>
        <locationY>1163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContractRateCardPageExistsDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RateCardPage__c</field>
            <operator>In</operator>
            <value>
                <elementReference>CollectRateCardPages</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContractRateCardPage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRateCardPages</name>
        <label>Get Rate Card Pages</label>
        <locationX>204</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContractRateCardPagesList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Rate_Card__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sirenum__Rate_Card__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__Rate_Card_Page__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRateCardPagesForDeletion</name>
        <label>Get Rate Card Pages</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CollectRateCardPages</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Rate_Card__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.sirenum__Rate_Card__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__Rate_Card_Page__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RateCardNotNullDecision</targetReference>
        </connector>
        <object>sirenum__ProActiveContract__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <transforms>
        <name>CollectRateCardPages</name>
        <label>Collect Rate Card Pages</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>GetContractRateCardPages</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GetRateCardPagesForDeletion[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>ContractRateCardPagesList</name>
        <label>Contract Rate Card Pages List</label>
        <locationX>204</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>CreateContractRateCardPages</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>ContractRateCardPage__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>RateCardPage__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GetRateCardPages[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Contract__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>varContractRateCardPage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractRateCardPage__c</objectType>
    </variables>
    <variables>
        <name>varContractRateCardPagesList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractRateCardPage__c</objectType>
    </variables>
    <variables>
        <name>varRateCardPageIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
