tbcuat_compare/force-app/main/default/flows/X1218_Re_Reg_Process_Manual.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Action_Clicked</name>
        <label>Action Clicked</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_an_option_here</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Registration_Suitability</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Registration_Suitability</name>
        <label>Registration Suitability</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Notsuitable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Suitable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Candidate_Record.Registration_Suitability__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suitable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Re_reg_process</targetReference>
            </connector>
            <label>Suitable</label>
        </rules>
    </decisions>
    <description>Update hardcoded org in reg link - Email Temp</description>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDate</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <interviewLabel>1218 Re-Reg Process Manual {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218 Re-Reg Process Manual</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Candidate_Record</name>
        <label>Get Candidate Record</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Re_Register</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CandidateStatus</name>
        <label>CandidateStatus</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Info</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Candidate has been moved back to Application Status and new Document Packs have been assigned.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Notsuitable</name>
        <label>Notsuitable</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>notsuitable1</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;This candidate is not a suitable candidate for re-registration! Please check the record again.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Re_Register</name>
        <label>Re-Register</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Action_Clicked</targetReference>
        </connector>
        <fields>
            <name>Choose_an_option_here</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
            <fieldText>Do you want to re-register this candidate?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Candidate_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_Re_reg_process</name>
        <label>Call Re-reg process</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>CandidateStatus</targetReference>
        </connector>
        <flowName>X1218_Rereg_Process_Subflow</flowName>
        <inputAssignments>
            <name>existingContactId</name>
            <value>
                <elementReference>Get_Candidate_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>triggeringContactId</name>
            <value>
                <elementReference>Get_Candidate_Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>PortalLogin</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: sans-serif;&quot;&gt;Dear {!Get_Candidate_Record.Name} ,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: sans-serif;&quot;&gt;Congratulations once again on securing an interview with us!&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: sans-serif;&quot;&gt;Before your interview, please complete and submit our Candidate Application Pack for the role you’ve applied for.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: sans-serif;&quot;&gt;Please note that you already have a user setup in our system following your registration and there is no need to register again! If this is the first time you are accessing our onboarding portal, please&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://thebestconnectionsf.my.salesforce.com/sfc/p/QH000004uaph/a/P3000001YH7V/gEQR_GVx0pEBwl6k72z4ElxhgmjrbohGGIrr0PjfGKA&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px; font-family: sans-serif; color: rgb(206, 0, 88);&quot;&gt;&lt;strong&gt;&lt;u&gt;click here&lt;/u&gt;&lt;/strong&gt;&lt;/a&gt;&lt;span style=&quot;font-size: 16px; font-family: sans-serif;&quot;&gt;&amp;nbsp;to see the required steps to follow when clicking the &lt;/span&gt;&lt;span style=&quot;font-size: 16px; font-family: sans-serif; color: rgb(206, 0, 88);&quot;&gt;&apos;&lt;/span&gt;&lt;a href=&quot;https://thebestconnectionsf--uat.sandbox.my.salesforce-sites.com/onboarding/b3p__Portal#LandingPage&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px; font-family: sans-serif; color: rgb(206, 0, 88);&quot;&gt;&lt;strong&gt;Access My Portal&lt;/strong&gt;&lt;/a&gt;&lt;span style=&quot;font-size: 16px; font-family: sans-serif; color: rgb(206, 0, 88);&quot;&gt;&apos; &lt;/span&gt;&lt;span style=&quot;font-size: 16px; font-family: sans-serif;&quot;&gt;link.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: sans-serif;&quot;&gt;For any further questions or assistance before your interview, please don’t hesitate to contact us on the details above.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: sans-serif;&quot;&gt;Looking forward to seeing you at the interview!&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: sans-serif;&quot;&gt;Kind Regards&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: sans-serif;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;img src=&quot;https://thebestconnectionsf--uat.sandbox.file.force.com/sfc/servlet.shepherd/version/download/068Pt000005utBp?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;The_Best_Connection_long_logo_RGB_01.png&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>DocPackID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
